.bd-placeholder-img {
   font-size: 1.125rem;
   text-anchor: middle;
   -webkit-user-select: none;
   -moz-user-select: none;
   user-select: none;
 }

 @media (min-width: 768px) {
   .bd-placeholder-img-lg {
     font-size: 3.5rem;
   }
 }

/*
 * Globals
 */

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}

/*
 * Base structure
 */

body {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
  max-width: 50em;
}

/*
 * Extra customisation
 */
a {
  color: rgb(255, 255, 255);
}

.article {
  text-align: justify;
}

.article h1 {
  text-align: center;
  margin: 2rem;
}

.article h2 {
  text-align: center;
  margin: 2rem;
  padding-top: 2rem;
}

.article h3 {
  font-style: italic;
  text-align: center;
  margin: 2rem;
  padding-top: .5rem;
}

.article h4 {
  margin: 1.5rem;
  padding-top: .5rem;
}

.article p {
  text-indent: 1.2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-top: .5rem;
}

p { /* Not to modify current displays for non article pages */
  margin-top: 2rem;
}

.article ul,
.article figure,
.article table,
.article pre {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.article li {
  margin-bottom: .25rem;
}

.article figure { /* Center images with captions */
  display: grid;
  place-items: center;
  text-align: center;
}

.article table {
  width: 100%;
  text-align: center;
}

.sourceLine,
.sourceLine:hover,
.sourceLine:focus { /* Prevent default styling for links */
  color: inherit;
  text-decoration: inherit;
}

footer a,
a:hover, a:focus {
  color: rgba(255, 255, 255, .5);
}

.orangeColor {
  color: rgb(255,140,0)
}

/*
 * Header
 */
.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  color: rgba(255, 255, 255, .5);
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;

}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}


/*
 * Form
 */
.form-input {
  position: relative;
}

.form-input svg {
  position: absolute;
  left: 0.5rem;
  top: 0.5rem;
}

.form-control {
  background-color: #1c1e21;
  border-color: rgba(255, 255, 255, .5);
  color: rgba(255, 255, 255, .8);
  text-indent: 1.8rem;
}

.form-control:focus {
  background-color: #25272a;
  box-shadow: none;
  color: #fff;
  border-color: #fff;
}
