<h1 id="jigsaw-part1---encryption">Jigsaw <em>(part1 - encryption)</em></h1>
<h2 id="introduction">Introduction</h2>
<p>As for previous malware I analysed, I used my self-personalized VirtualBox laboratory environment based on the Windows 10 Virtual Machine from <a href="https://developer.microsoft.com/en-us/microsoft-edge/tools/vms/">Microsoft for developers</a>. As usual, I started by backing up all my important data from my host machine into a separate data drive and I did a bit of cleaning in old snapshots of older analyses. Then I restored my last supposedly not infected snapshot and downloaded the tools I hadn’t already downloaded on this snapshot, like <em>Process Hacker</em>, <em>IDA</em> and <em>x64dbg</em>. These are by the way the tools I mainly used in this analysis.</p>
<p>Then, contrary to previous analyses and in order to save a bunch of time, I decided to make preliminary searches on the ransomware I would choose this time. It was the fifth birthday of the famous WannaCry worm/ransomware the week I did these initial searches but I wondered whether there were more unusual ransomware to analyze - <em>at least that I didn’t already know</em>… And of course there were plenty of them!</p>
<p><a href="https://www.upguard.com/blog/ransomware-examples">On an interesting blog article from <strong>upguard.com</strong></a>, I found couple of them quite well introduced and one in particular drew my attention: <strong>Jigsaw</strong> (<em>not that unpopular but anyway</em>). <a href="#jigsaw-citation">I let in appendix a citation of the blog article which convinced me</a>.</p>
<p>Indeed, Jigsaw seemed quite old (2016) contextualizing it into the ransomware trend. It was a good since that may mean it might be analysable by a rookie like myself in a reasonable amount of time. Furthermore, what seemed especially interesting to me was the potential high amount of features for a ransomware. Jigsaw encrypts user files &amp; MBR, it deletes files a number proportionally to the time spent since infection, it can delete extra number of files in case of reboots and so on and so forth! And last but not least, it was stated that this malware can be reversed to remove the encryption. Nice goal to try to achieve!</p>
<p>Obviously, <a href="https://github.com/ytisf/theZoo/tree/master/malware/Binaries">the GitHub repository “the Zoo”</a> has Jigsaw available. I thus downloaded it from there as well as couples of other ransomware in case of I would struggle too much with my target like I already experienced in a previous analysis I made. There were WannaCry, Petya, Cerber and Thanos as well as conti_locker sources which leaked very recently - after the Russian invasion - to eventually compare “old” ransomware and a recent one if struggling with the analysis and time not missing.</p>
<h2 id="quick-hybrid-analysis">Quick hybrid analysis</h2>
<p>This first section may not contain the most valuable discoveries of the current analysis but during these first steps, I got some “fun” disclosures. And not to make a habit of it, a miscellaneous part comes first, as a kind of sequel to the introduction section.</p>
<h3 id="miscellaneous">Miscellaneous</h3>
<p>Even before having managed to download my malicious archives from the Zoo, my faithful auto-activated Windows Defender simply block the downloads and removed these files automatically. I still tried to download each and every of my samples to “test” Windows Defender and they were all blocked. It identified malicious archives as:</p>
<ul>
<li>Trojan:Win32/Vigorf.A for the zipped Jigsaw</li>
<li>Trojan:Win32/Vigorf.A for the zipped WannaCry</li>
<li>Trojan:MSIL/Gorf for the zipped Petya</li>
<li>Trojan:Win32/Vigorf.A for the zipped Cerber</li>
<li>Trojan:Win32/DelShad for the zipped Thanos</li>
</ul>
<p>Is everything a Trojan according to the MS classification? Or maybe it a label granted to archives with password ‘infected’?</p>
<p>Anyway, my curiosity was not sufficient to let Windows Defender running again - it will actually re-activate itself automatically soon enough - and taking the risk of downloading files again and again. I disabled Windows Defender and downloaded the files again.</p>
<p>Once tools and malicious archives all properly downloaded, I checked hashes provided by the Zoo still by force of habit and… WannaCry &amp; Cerber hashes were not the right ones, even after trying to download them again. I thought about writing an issue but seeing the old long list of them still waiting on the repository, I changed my mind. Anyway, I only wanted to analyse malicious software, even though the original versions had been replaced by other compromised versions, it basically remains malicious, so good enough for me!</p>
<p>About this topic and going on getting used to PowerShell scripting though my different analyses, hash checks can be easily performed that way:</p>
<div class="sourceCode" id="cb1"><pre class="sourceCode ps1"><code class="sourceCode powershell"><a class="sourceLine" id="cb1-1" title="1"><span class="fu">Set-Location</span> C:\Users\IEUser\Downloads</a>
<a class="sourceLine" id="cb1-2" title="2">Get-FileHash .\whateverRansomware.<span class="fu">zip</span> <span class="co"># for the default SHA256 sum</span></a>
<a class="sourceLine" id="cb1-3" title="3">Get-FileHash .\whateverRansomware.<span class="fu">zip</span> -Algorithm MD5</a></code></pre></div>
<p>As for any dynamic-like analysis, <strong>I isolated my Virtual Machine and thus all its children snapshots from any network</strong>. In this case, some downloaded ransomware are explicitly worms, so, <strong>forgetting isolation at this point may be very harmful for all the devices connected to the network</strong>.</p>
<p>With default VirtualBox network configuration (NAT) for instance and depending on the personal network configuration in place, this may concerned not only other testing VMs or even the host but <strong>each and every device potentially linked to a home network</strong>… (with a potential restriction to Windows OS for these samples but I won’t advice a try anyway).</p>
<p>The only missing things to do before give it a go was to unzip malicious archives and rename with the right extension the files which needed it.</p>
<h3 id="execute-watch-monitor">Execute, watch, monitor</h3>
<p>Time had come to try the ransomware I downloaded. The huge advantage of ransomware compared to many other type of malware is that, at a point, it should be noticeable for the end-user. Otherwise it would be difficult to ask for any ransom.</p>
<p>Well well, that was what I thought but things never go as expected. Actually I’m making too much noise for this but obviously I unintentionally choose the ransomware with issues.</p>
<p>The first thing I get was a pop-up window very similar to the upcoming one (I forgot to make a screenshot): “an app needs the following Windows feature: .NET Framework 3.5 (including .NET 2.0 and 3.0)”.</p>
<figure>
<img src="contents/pics/jigsaw/dotnet-framework-installation-dialog.png" alt="Windows pop-up" style="width:70.0%" /><figcaption>Windows pop-up</figcaption>
</figure>
<p>It seemed like a regular Windows alert, and the version 3.5 of the .NET environment was actually missing in the virtual machine so it was fine, false start. <em>By the way, it thus seemed I was back with malware heavily using the .NET environment, missed me since previous analyses.</em></p>
<p>However, since I effectively needed to update my .NET Framework, I was compelled to connect to the Internet again. And, regarding what I wrote at the end of the previous part, I wouldn’t have done it if there was a way that the ransomware executed itself again automatically after I accepted to download the legitimate missing feature through the pop-up. So I restored the snapshot made before execution, upgraded the version 2.0 of the Framework I had independently from the Windows alert and then re-isolated everything.</p>
<p>Actually, even before downloading the .NET Framework 3.5, I executed the other ransomware I had prepared to check these ones were in a working state. I got ransomed four times in four (very) different ways by the four different malware I executed. So I had the confirmation my VM was not cursed in any way, detectable by any malware.</p>
<p>But, going back to the Jigsaw version I had, I double clicked on it again and I was then displayed a first interesting window that I didn’t forget this time to screenshot. I shall refer to it later in this report as “the first message”.</p>
<figure>
<img src="contents/pics/jigsaw/jigsaw1.png" alt="The first message from the Jigsaw sample I had" style="width:65.0%" /><figcaption>The first message from the Jigsaw sample I had</figcaption>
</figure>
<p>Nice message if I was thinking about downloading a licenced legitimate software (??).</p>
<p>But this is definitely not the case and I truly doubt that this malware was every time packaged as a licenced legitimate software. Incidentally, from the analysis I conducted, the given code is completely fake, it is not needed in any moment and might be here only to trick the end-user. This code didn’t even change between two different “registrations” of the malware. Great first impression, no regrets from my side.</p>
<p>After pressing ‘Ok’, I had to wait few decades of seconds only (I got a small VM, small hard drive, not a lot of documents and data) and it was displayed a second message. A Microsoft .NET Framework error message. Not joking.</p>
<figure>
<img src="contents/pics/jigsaw/3.png" alt="The second message from the Jigsaw sample I had" style="width:72.0%" /><figcaption>The second message from the Jigsaw sample I had</figcaption>
</figure>
<p>Clicking on ‘Details’ didn’t provide that handy information at this point, it looked like error tracing logs from any high level programming language - probably C# in this case.</p>
<p>However, in the meantime, I checked what was going on the machine with some dynamic analysis tools. Indeed, static methods were not very juicy. My favourite static analysis tool <em>PEStudio</em> didn’t provide me very valuable information before the execution. It told me the file was an executable but no strings were outputted nor any other Indicators of Compromission. Hopefully, my favourite dynamic analysis tool <em>Process Hacker 2</em> gave me some pleasing insights.</p>
<p>I learnt for instance that executing the malware let immediately appear a process called <code>drpbx.exe</code>. The name of this process was highly suggesting the legitimate and well known service <em>Dropbox</em>. But one may also notice in the description of the process - where clear names of either the service either the publisher are traditionally written - that <em>Firefox</em>, another well known Tech project was implied. I guess this had been added to reassure customers of this truly professional licenced product that they are in good hands. Through <em>Firefox</em>, a Free Software company seemed implied by the way, they definitely cared a lot about the data of their users. That was written. Whatever was written there is obviously true… Right?</p>
<p>Getting serious, this might be completely dumb (<em>sorry guys, don’t take it personally</em>) from these malware developers not to check that <em>Dropbox</em> is <strong>not at all</strong> a project run by the <em>Mozilla Foundation</em> which runs <em>Firefox</em>.</p>
<p>Otherwise, and I rather trust this explanation, mentioning two different big Tech products might actually help to legitimate the process: if someone doesn’t know one of these two companies, it should know the other. Furthermore, normal people - I’m mean not IT professionals - are often not aware of which project belongs to which company, and I think most people knowing both names wouldn’t notice that they shouldn’t be linked. At last, thanks to online information, it can be confirmed that “normal people” were the targets of this ransomware, private companies and their IT admins were not. <em>The ransom asked about hundreds of dollars, not hundreds of thousands.</em></p>
<p>And just to add quickly something on the first message, neither <em>Dropbox</em> nor <em>Firefox</em> need registration or any kind of code to email to be used.</p>
<figure>
<img src="contents/pics/jigsaw/jigsaw2.png" alt="The Process Hacker 2 window after executing the Jigsaw sample" style="width:100.0%" /><figcaption>The Process Hacker 2 window after executing the Jigsaw sample</figcaption>
</figure>
<p>I learnt as well from <em>Process Hacker</em> that after the second message, clicking on ‘Quit’ actually terminated the malicious process - unexpected.</p>
<p>And also that at execution, the malware copied and executed itself from the <em>C:\User\&lt;username&gt;</em> <em>\AppData\Local</em> directory, maybe to prevent adventurous users from deleting the executable before a reboot, I didn’t investigate more since it was not the purpose of this analysis. But if it is the case I suggest a feature: delete extra files if the user try to delete, move or rename the original executable. It should not even be that hard to implement!</p>
<figure>
<img src="contents/pics/jigsaw/5.png" alt="Process Hacker 2 properties of the drpbx.exe process" style="width:65.0%" /><figcaption>Process Hacker 2 properties of the drpbx.exe process</figcaption>
</figure>
<p>Last but not least, my Jigsaw sample was not actually that much bugged. Indeed, the time between the first and the second messages was, among other things, used to encrypt the files.</p>
<p>Encrypted files were given the extension <code>.fun</code> and not all the files were encrypted. It may depend on file extensions or file types since <code>.exe</code>, <code>.contact</code> and <code>.7z</code> were not encrypted, even in my <em>Documents</em> directory. This was by the way very useful for the analysis since I didn’t need to restore the last snapshot of my VM during first runs: I only need to add new files.</p>
<figure>
<img src="contents/pics/jigsaw/jigsaw6.png" alt="My documents seemed definitely encrypted" style="width:100.0%" /><figcaption>My documents seemed definitely encrypted</figcaption>
</figure>
<p>So, to recapitulate a bit my situation, <strong>my sample had encrypted all my documents and had crashed before printing instructions</strong>. I remained without any explanation nor instruction, so I was very unluckily to pay a ransom, even though some beloved documents of mine had been encrypted. It looked like the worse configuration ever for a ransomware: spotted but not able to provide any place to send the money.</p>
<p>Anyway, my goal was to dive into the encryption routine and since this part seemed to work, I was able to go on with my analysis!</p>
<h3 id="overview-of-the-disassembled-code">Overview of the disassembled code</h3>
<p>This part is only about giving an initial look to the raw assembly code get by both IDA Pro and x64dbg. No execution nor “debugging” is described here. Indeed, I didn’t even need to “run” the assembly to get some entertaining discoveries, sometimes in relation with the two previous parts of this section.</p>
<p>First thing I did at this step was to use <em>IDA Pro</em> to get some nice schematized views of the disassembled code. However, when <em>IDA</em> didn’t fail to perform a disassembling because of some random missing plug-ins, it provided me with one monolithic block of code only.</p>
<p>I wondered whether it was linked to the fact that the malicious software always killed itself and re-executed itself after a user or 3<sup>rd</sup> software provoked execution. If so, it would have been an impressive kind of code obfuscation technique.</p>
<p>Anyway, quickly going through the code let me notice one funny string considering my previous thoughts about <em>Firefox</em> and foolishness of the Jigsaw developers.</p>
<figure>
<img src="contents/pics/jigsaw/mozzzzzzzillaJigsaw.png" alt="Some code was apparently copyrighted by the Mozzzzzilla Foundation" style="width:100.0%" /><figcaption>Some code was apparently copyrighted by the Mozzzzzilla Foundation</figcaption>
</figure>
<p>Indeed, <em>Mozilla</em>, the open-source company maintaining among others <em>Firefox</em>, is well spelt <strong>M-o-z-i-l-l-a</strong> and not <strong>M-o-z-z-i-l-l-a</strong>. And it was particularly difficult for me to believe that such an error can be made by legitimate Mozilla developers, in such a big Tech company where peer review is always the norm. So, some Jigsaw developers may have done “errors” on purpose, I questioned myself in several occasions but I found no valuable explanation for this one. Maybe they sometimes would have been enlightened by the use of a search engine…</p>
<p>Since I didn’t get the expected layout from <em>IDA Pro</em>, I quickly switched to <em>x64dbg</em> to globally review the code before starting to debug. Contrary to many others, here the malware was compiled for the x64 architecture so I needed <em>x64dbg</em> and not <em>x32dbg</em> to analyse it. For me, it confirmed that this ransomware was targetting the specific category of regular home users. Indeed, it would have been usable in more machines if it was working with the x32 architecture, but the choice of .NET and C# to develop it might have restrained them as well.</p>
<p>Scrolling lines a bit randomly, I still got funny information. As an example, I would state the following screenshot, displaying one string of the program.</p>
<figure>
<img src="contents/pics/jigsaw/lol.png" alt="A string in the assembly code revealed in x64dbg" style="width:70.0%" /><figcaption>A string in the assembly code revealed in <em>x64dbg</em></figcaption>
</figure>
<p>It seemed to warn people that there were some issues with large addresses to tackle and to be aware of. And the second message I got after executing the malware, the error one, was in particular informing that</p>
<blockquote>
<p><em>The specified path, file name, or both are too long.</em></p>
</blockquote>
<p>If the issue was known, it’s quite a pity for them that it wasn’t mitigated, at least in some cases like mine. By the way, since I received no instructions at all and that the malware didn’t try to erase itself or so, I clearly doubted the second message was the work of malware developers.</p>
<p>However, I got some more “serious” pieces of information as well scrolling the assembly lines more or less randomly. In particular, through either comments or function names or whatever <em>x64dbg</em> interpreted, I spotted two lines which seemed to describe evasion mechanisms: “IsDebuggerPresent” and “IsDeveloperModeEnable”.</p>
<figure>
<img src="contents/pics/jigsaw/isDebugger.png" alt="Line labelled “IsDebuggerPresent”" style="width:97.0%" /><figcaption>Line labelled “IsDebuggerPresent”</figcaption>
</figure>
<figure>
<img src="contents/pics/jigsaw/isDevMode.png" alt="Line labelled “IsDeveloperModeEnable”" style="width:100.0%" /><figcaption>Line labelled “IsDeveloperModeEnable”</figcaption>
</figure>
<p>As shown by the screenshots, I tried to set breakpoints on these particular lines, but I finally noticed running the process with the debugger during next steps that these breakpoints weren’t triggered at all before or during the encryption routine. It surprised me a bit but maybe the malware was released sooner that expected by the developers and they weren’t able to implement everything they had planned. Maybe the feature was badly implemented, being triggered at the very end of the malware for example. Maybe this was a trick for analysts. There are many possible explanations and my current analysis didn’t let me confirmed any of them.</p>
<p>Yet, while executing the malware step by step, I also noticed one suspicious related string in memory at a given moment. But it didn’t help me to conclude anything about anti-debugging methods in place, and I guess I was actually not really bothered in my <em>x64dbg</em> debugging…</p>
<figure>
<img src="contents/pics/jigsaw/debugger2.png" alt="Suspicious string “unmanagedDebugger” in x64dbg" style="width:100.0%" /><figcaption>Suspicious string “unmanagedDebugger” in <em>x64dbg</em></figcaption>
</figure>
<h2 id="locate-the-encryption-routine">Locate the encryption routine</h2>
<p>This section was probably the most uncertain. I mean that among the thousands of thousands of lines, I was definitely not convinced I would be able to put a hand into the encryption routine, which was obviously a very short part of all these lines of code. But, an attentive reader may have already noticed that the next section doesn’t look like a conclusion. It effectively means that through different approaches, I managed to get closer to the encryption process and even to deep dive into it was built. This will be described in the next section, but first, I’ll introduce the ways I got into this Jigsaw encryption routine.</p>
<h3 id="first-breakpoints">First breakpoints</h3>
<p>As suggested by the previous part and its “IsDebuggerPresent” and “IsDeveloperModeEnable” lines, I quickly tried to set breakpoints in the more or less random locations I noticed during my static analysis of the code. However, inputting relevant breakpoints without any clue turned out to be really difficult, so even with a lot of them, it failed as expected.</p>
<p>I thus wanted to adopted some kind of global approach which would let me narrowing my experiment space time after time, in a dichotomous way.</p>
<p>I searched online for such solutions with <em>x64dbg</em> and I got redirected towards some settings to “auto-break” on certain types of events. On the horizontal menu of <em>x64dbg</em>, I chose the <em>Options</em> tab and then <em>Preferences</em>. In the panel then available, the first tab <em>Events</em> was enough to play with. I guess that, by default, only <em>System Breakpoint</em>, <em>Entry Breakpoint</em> and <em>TLS Callbacks</em> and <em>Debug Strings</em> were checked so I added <em>Thread Start</em> and <em>(System) DLL Load</em> to automatically break on these events that I believed (rightly) numerous. I was indeed pretty sure I will that way be able to skip some parts of the execution before and after the encryption: hazardous breakpoints in the code were not required anymore yet.</p>
<figure>
<img src="contents/pics/jigsaw/pref.png" alt="My initial preferences panel of x64dbg" style="width:56.0%" /><figcaption>My initial preferences panel of <em>x64dbg</em></figcaption>
</figure>
<p>I tried different starting configurations, each one characterized by a father snapshot to be quickly restored to its initial state when encryption had been exceeded. But my main ones, during the remaining parts of this analysis were approximately looking like the one displayed in the following screenshot.</p>
<p>I created new files of different types (<em>to see if they were encrypted in some specific order or ways &amp; maybe notice changes in the routine to move from one file to the following</em>) after a first encryption of the system (<em>to stay focused on one specific “moment &amp; location” + a quicker encryption provided a shorter time of analysis, skipping uninteresting files being encrypted and useless breakpoint triggers</em>). And I kept these files in one small window besides my debugger to check whether they were modified during the last interval of breaks.</p>
<figure>
<img src="contents/pics/jigsaw/usingX64dbg.png" alt="My typical setup" style="width:100.0%" /><figcaption>My typical setup</figcaption>
</figure>
<h3 id="first-results">First results</h3>
<p>Going back to “auto-breaks” from <em>x64dbg</em> settings, there were some new threads created but overall a massive amount of DLL loads! I noticed some names but didn’t try to get information on all of them regarding the huge number. For some suspicious name examples, some DLL were labelled <em>crypt</em>-something but as seen in previous analyses, this is not characteristic only to ransomware.</p>
<p>This important number of DLL loads is also explained because I started debugging from the very beginning of the malware (I started it through <em>x64dbg</em>) and it is coherent that DLL loads take place mainly in the first moments of any software. Before the first message, I got approximately 70 breaks, a wide majority of them being DLL loads.</p>
<p>However, with the intervention of this first message, I noticed my first remarkable points. While the button ‘Ok’ is not clicked, or the exiting cross pressed, everything is frozen and encryption doesn’t start, independently from the time waited. The significant thing which occured just before was the creation of the process <em>drpbx.exe</em>, detached from the executed process (and thus from the debugger). Indeed, after pressing either the ‘Ok’ button or the exiting cross, the behaviour was the same: the current process terminated in very few steps and the debugging session with it and the encryption then took place as previously experienced.</p>
<p>At last, I would like to add too that this behaviour was not restricted to the execution of <em>jigsaw.exe</em>. The same took place when executing the <em>drpbx.exe</em> process from the beginning as well: it detached itself from its parent process along with the display of the first message window.</p>
<p>I drew two conclusions of these facts:</p>
<ol type="1">
<li><p>It seemed that the encryption was performed exclusively by the second process <em>drpbx.exe</em>. My <em>jigsaw.exe</em> (or actually the first process executed) is a kind of loader for the “main” process which performed the encryption.</p></li>
<li><p>The malware is waiting for the user, I didn’t know if it was by some kind of sadism but this feature was pretty enjoyable for me since I had all the time I wanted to attach my debugger to the new process created. If I hadn’t have this time, this part would have definitely been much longer… (whatever the breakpoints I would have set in the first process code, I wouldn’t have been able to easily stop the second process, free from any debugger)</p></li>
</ol>
<p>So, in x64dbg, I chose in the top horizontal menu <em>file &gt; attach</em>, then I clicked on the new process named <em>drpbx</em> and I was done, <em>jigsaw.exe</em> can terminate, I had jumped to the next chunk! Once on board, I ran the new process as far as I could without clicking on the first message pop-up and with the same auto-breaks settings. Once stuck, I did a new VM snapshot and got definitely closer to the encryption routine.</p>
<figure>
<img src="contents/pics/jigsaw/attachTheNewProcess.png" alt="Jumping to the next process, modestly entitled ‘Thank you’" style="width:100.0%" /><figcaption>Jumping to the next process, modestly entitled ‘Thank you’</figcaption>
</figure>
<p>There came again many DLL loads, for the same reason as the first process logically. But the new breaks which emerged at this step were due to many first chance exception. It means that the code raised an exception and before it is handled by the program, the debugger intercepts it and breaks the execution.</p>
<p>There were lots of them, but this is not that weird with hindsight, remembering this program was doubtlessly written in C#. Indeed, there are ways to write code in these high-level programming languages using exception raising and exception handling. This can be particularly accurate in very abstracted languages, like C#, which are built on the object-oriented programming principle. Furthermore, these exceptions were all labelled <code>CPP_EH_EXCEPTION</code> so I didn’t learn a lot from such a general naming.</p>
<p>However, since all these exceptions came from the same code snippet, I thought it might be useful to give a deeper look on these lines of code. I set few additional breakpoints and re-ran the malware de-activating breaks on DLL loads to gain in rapidity. The encryption in <code>C:\Users\IEUser\Documents</code> took place between two consecutive bursts of exceptions, all in one “exception” step. I confirmed the fact this ransomware encrypted only some types of files but that’s all. I didn’t notice anything else very valuable, until I discerned that files from another directory I created myself, <code>C:\New Folder</code>, were encrypted before the files in <code>C:\Users\IEUser\Documents</code>.</p>
<p>I eventually manage to do a first partitioning of the encryption routine so it was a good start but I wasn’t able to dive further, even with new breakpoints.</p>
<figure>
<img src="contents/pics/jigsaw/codeSnippetExceptions.png" alt="The “exceptions” code snippet" style="width:100.0%" /><figcaption>The “exceptions” code snippet</figcaption>
</figure>
<h3 id="look-for-strings">Look for strings</h3>
<p>Another type of approach I used in order to break into the encryption routine was to look for strings. I wasn’t comfortable with the <em>Dumps</em> panel but I still get few result with the different <em>Search for</em> functionalities offered by x64dbg. I didn’t log very well what I get from time to time so I decided to compile in this part the results I got through strings searches.</p>
<p>The first thing I saw was the name of one of my personal file, <em>www.xls</em>, at the address <code>7FFE?FF67620</code>. I tried to follow it in dump but no conclusive results.</p>
<p>I found no references to <em>Jigsaw</em>, <em>bitcoinblackmailer</em> (another name it had in the past) or even to <em>bitcoin</em> itself, which should however appear somewhere in the instructions - even I didn’t get the instructions displayed, I presumed they exist on my sample!</p>
<p>I found again some suspicious “function names” like the one related to debugger mentioned previously, but nothing conclusive neither. I didn’t screenshot all of them but I remember ‘SetTimer??’ which was quite relevant remembering introductions of this ransomware I found online: file deletions are done hours after hours so some timers are certainly required somewhere.</p>
<p>Anyway, by chance, I found through this strings search method what seemed to be the exact list of files to encrypt. Or more precisely, the exact list of extensions matching with the ones of files which can be encrypted. I found other shorter lists but through different tests I performed, I concluded that the list displayed bellow was the “right” one. It completely matched my tests and my previous examples since .contact or .7z archives are not encrypted nor in this list, despite of being ‘data’ formats.</p>
<pre><code>Address=00007FFF32EC2E5F
Disassembly=xor eax,C10496
String=&quot;.class .py .js .aaf .aep .aepx .plb .prel .prproj .aet .ppj .psd .indd
 .indl .indt .indb .inx .idml .pmd .xqx .xqx .ai .eps .ps .svg .swf .fla .as3
 .as .txt .doc .dot .docx .docm .dotx .dotm .docb .rtf .wpd .wps .msg .pdf .xls
 .xlt .xlm .xlsx .xlsm .xltx .xltm .xlsb .xla .xlam .xll .xlw .ppt .pot .pps
 .pptx .pptm .potx .potm .ppam .ppsx .ppsm .sldx .sldm .wav .mp3 .aif .iff .m3u
 .m4u .mid .mpa .wma .ra .avi .mov .mp4 .3gp .mpeg .g2 .asf .asx .flv .mpg .wmv
 .vob .m3u8 .dat .csv .efx .sdf .v&quot;</code></pre>
<p>The ransomware didn’t seem to care about the real type of the file, but only about the extension, which might be quite quicker or simpler to check. But thus, considering this exhaustive list of files, a very basic protection mechanism against such a ransomware can be to use exotic file extensions! Even some file extensions which are not that much exotic like .7z or .odt, the extension from Libre Office documents, are not even listed.</p>
<p>It is imaginable that some versions of the malware got an extended list of extensions but, for me, it remains a weakness for such a ransomware, especially considering the fact that, for example, not all <code>.dat</code> files would be encrypted anyway - statement made quickly traversing some “System” or “Program” files. Maybe such a sorting is performed in order to gain in rapidity while being pretty sure not to crash the machine encrypting a wrong file.</p>
<p>Nevertheless, setting breakpoints on each and every of these addresses didn’t learn me anything more since it didn’t stop on them… For some I understood why, for others I didn’t.</p>
<h2 id="detail-the-encryption-routine">Detail the encryption routine</h2>
<h3 id="lead-further-investigations">Lead further investigations</h3>
<p>My exception steps were made through a unique code structure raising exceptions, probably designed and called especially to process exceptions. This means one may not always get back to the same location in the code after “stepping over” the <code>ret</code> and that the time between exception separations was believably not linear at all.</p>
<p>Since I got to a different sorts of rabbit holes once more, I tried other techniques from the snapshot of the second process. My main issue was still and again to isolate more the part dealing with encryption… It was about more than 1 million of bytes in the process (33 E7 6F FF - 33 D6 10 00 = 11 5F FF<sub>16</sub> = 1,138,687<sub>10</sub>) so maybe about 200,000 lines of assembly lines since many instructions use more than one or two bytes (a basic <code>add</code>, <code>cmp</code> or <code>mov</code> is ~ 3 bytes)</p>
<p>I still got all my files under the same directory encrypted at the same step so I tried the option “undo last instruction” just after reaching encryption. “execute until return” was also a flop for the encryption routine - even though it might have been useful elsewhere in my searches.</p>
<p>I tried to run &amp; stop desperately but it was obviously way too random to get positive results. And after some break, I got only two ideas at this point of the analysis:</p>
<ol type="1">
<li><p>Retry the “auto-breaks” mechanism on DLL loads and Threads starts in order to crop a bit more again the useless beginning of the program.</p></li>
<li><p>Drop some very large file on the VM like an ISO, change the extension of it since the ransomware seemed to mainly care about files location and extension. If it was effectively being encrypted, it should take a lot of time, maybe enough for me to manually break the program while encryption of this huge file was still running.</p></li>
</ol>
<p>However, I didn’t have the opportunity to test the more unpredictable option 2. since the first one worked!</p>
<p>Removing useless breakpoints and closely monitoring the moment where my files would become encrypted, I noticed this took place between the “cryptbase.dll” had been loaded and the next auto-break for the next DLL load.</p>
<p>Stepping over from there was pretty long and I still didn’t get any clue of what I was stepping over. I didn’t know where to look at and I even got as nice assembly loops in which I was able to step over too many times. I don’t really know if they were explicitly there for obfuscation but it did the job pretty well! C# malware developers are not obviously the ones who care the most about assembly level but who knows?</p>
<p>Some loops seemed complex but some, like the following one, did not. One may thus notice that registry <code>ebx</code> is incremented by one each round, until it reaches 83<sub>16</sub>=131<sub>10</sub>, the value of the registry <code>edi</code>.</p>
<figure>
<img src="contents/pics/jigsaw/loopOfPleasure1.png" alt="The code of one simple obfuscating loop" style="width:100.0%" /><figcaption>The code of one simple obfuscating loop</figcaption>
</figure>
<figure>
<img src="contents/pics/jigsaw/loopOfPleasure2.png" alt="The registries of the same simple obfuscating loop" style="width:40.0%" /><figcaption>The registries of the same simple obfuscating loop</figcaption>
</figure>
<p>It went like that for too many steps until, at one moment, I realised I got some file names on the registry panel - after my <code>C:\New Folder</code> was encrypted but before my <code>C:\Users\IEUser\Documents</code> was. I had discovered an interesting mechanisms which actually was my entry point to the encryption routine. I didn’t catch the whole process yet but in the main thread, I definitely noticed some files enumeration of files which were actually on my small VM, on legitimate directories.</p>
<figure>
<img src="contents/pics/jigsaw/filesEnumeration.png" alt="Some enumeration of VM files" style="width:100.0%" /><figcaption>Some enumeration of VM files</figcaption>
</figure>
<figure>
<img src="contents/pics/jigsaw/filesEnumerationCode.png" alt="The code snippet which provided the program with some files enumeration" id="code-files-enumeration" style="width:90.0%" /><figcaption>The code snippet which provided the program with some files enumeration</figcaption>
</figure>
<p>Knowing where to look at, I replayed the scenario several times and firstly tried to describe the routine with some of the module exploited alongside to the main Thread.</p>
<p>By order of apparition steps over after steps over, there were <strong><em>cryptbase.dll</em></strong>, <strong><em>rsaenh.dll</em></strong>, <strong><em>cryptsp.dll</em></strong>, <strong><em>mscorwks.dll</em></strong> and eventually <strong><em>system.core.ni.dll</em></strong>. All these DLL came from the legitimate location C:\Windows\System32 and the one named <em>rsaenh.dll</em> might indicate which tool is used to quickly encrypt the files.</p>
<p>Indeed, <em>rsaenh.dll</em> is a module that implements the Microsoft Enhanced Cryptographic Service Provider (CSP), a typical legitimate encryption service from Windows OS which can provide many different encryption algorithms, more or less secure. It implements among others DES and Triple-DES, AES, SHA-{1,256,384,512}, RSA, RC4, MD4 and MD5.</p>
<p>I placed some breakpoints in these modules but <em>cryptbase.dll</em> for instance had a lot of different potential entry points, named by quite similar values: <code>SystemFunction001</code>, <code>SystemFunction036</code>, <code>SystemFunction041</code> and lots more. Breakpoints on these particular values had very different results, most of them weren’t triggered at all (like <code>SystemFunction036</code> and <code>SystemFunction041</code>) but <code>SystemFunction036</code> was triggered more than 30 times - before I disable the breakpoint - during the encryption of very few documents.</p>
<p>I was definitely getting closer but all files were still encrypted at the same step so I made my first step into the last identified suspicious call and then stepped into a second time.</p>
<figure>
<img src="contents/pics/jigsaw/encrypt71-.funReady.png" alt=".fun extension had been prepared and was displayed in registries, the upcoming call seemed to encrypt my files currently in C:\New Folder" id="code-AAB" style="width:100.0%" /><figcaption><code>.fun</code> extension had been prepared and was displayed in registries, the upcoming call seemed to encrypt my files currently in <code>C:\New Folder</code></figcaption>
</figure>
<p>I gradually put some breakpoints to get nearby the encryption of my files without exceeding it. When I felt I was becoming close to the objective I made a new snapshot and I was ready for a new and last adventure!</p>
<h3 id="bait-taken">Bait taken</h3>
<h4 id="teasing">Teasing</h4>
<p>What I managed to do here and what I’m rather proud of is to abstract the encryption routine from the assembly code only. The routine is quite simple, even pretty expectable but the added value of this part is that each atomic point of the routine is now associated with an address, a file offset from the sample I analysed and <a href="https://github.com/ytisf/theZoo/tree/master/malware/Binaries/Ransomware.Jigsaw">theoretically still available on the Zoo repository</a>. By atomic, I mean a unique and essential part of the routine which can be considered as a unique action, fulfilling one simple role to describe.</p>
<p>This part is for me the most exciting, however it is also the hardest to explain. I personally had some troubles to put the pieces back together whereas it was my own analysis that I ran through consecutive days, without other works in the middle. That’s why, I will here try to simply describe the routine I exposed, relying on a minimalist graph I made. I thus hope it will be fully understandable and interesting!</p>
<p><a href="#calls-stack"><em>The whole graph with few explanation only is of course available in appendix</em></a>.</p>
<p>From the few experience I had, setting relevant breakpoints was harder than expected. However, once I stepped into the right call and when a reasonable amount of steps had thus been pointed out, it became much more powerful. It allowed me to get to the next iteration of the same routine, what meant in most case to get to the next file being encrypted. Indeed, I initially located myself for this part few steps before the address <code>7FFE83FC4C98</code>, the first one I clearly spotted from the routine. And each time I ran the malware until this point, one and only one new file had just been encrypted.</p>
<p>After that, the methodology to expose all these addresses I found relevant was globally a game of attention and right hot keys to press. The first part was stepping over until I noticed something different by any way. Then I breakpointed the <code>call</code> instruction immediately before and stepped into during the next passage. Once stepped into the suspicious <code>call</code> instruction, I repeated the protocol and if I actually found in it valuable information to describe the routine, I wrote aside the call address.</p>
<p>Once I had decomposed the routine in some small chunks I was happy with, the final boss from the game was to reassemble those chunks together, in a full logical ordered way.</p>
<p>So, since the protocol has been set, let’s dive into the results!</p>
<h4 id="presentation">Presentation</h4>
<p>From my entry address <code>7FFE83FC4C98</code>, I got two sub calls implementing two very different functionalities: <code>7FFEE2A160CE</code> which returned the name of the future encrypted file and <code>7FFEE2A16106</code> which actually wrote some fresh encrypted content into the file named by the previous functionality.</p>
<pre><code>| | 7FFE83FC4C98 (one file under encryption) [my entry point]
| | |\
| | | 7FFEE2A160CE (get new file name)
| | | |
| | | 7FFEE2A16106 (write the encrypted file)
| | |/</code></pre>
<p>In all the graph samples and in the graph itself:</p>
<ul>
<li><code>|\</code> means stepping into the above mentioned call function</li>
<li><code>|/</code> means meeting a <code>ret</code> instruction</li>
<li><code>|</code> stands for the layer number inside the routine, the number of steps into from the origin</li>
<li>words inside <code>()</code> are the way I personally chose to qualify these calls, there are no “official names” in the code</li>
</ul>
<p>Here, two “<code>|</code>” are already present because I actually didn’t start from the origin of the routine, but it will be explained further.</p>
<p>The role of the first call is to get a name for the new file which the concatenation from its plaintext name and <code>.fun</code>. I stepped into it but I didn’t get more than what I already described. Moreover my focus was especially the encryption so the the second one, <code>7FFEE2A16106</code>, drew my attention. However it turned out that this functionality only create the new <code>.fun</code> file, without any encrypted content in it, it came in later steps.</p>
<pre><code>| | 7FFE83FC4C98 (one file under encryption) [my entry point]
| | |\
| | | 7FFEE2A160CE (get new file name)
| | | |
| | | 7FFEE2A16106 (write the encrypted file)
| | | |\
| | | | 7FFEE29E81C5 (create a new empty .fun file)
| | | |/
| | |/</code></pre>
<p>Then, at the same layer than my entry point <code>7FFE83FC4C98</code>, came the address <code>7FFE83FC4D14</code> with a call which outputted the plaintext data of the file to be encrypted into registries.</p>
<figure>
<img src="contents/pics/jigsaw/write50-getTheText.png" alt="The text “Love &lt;3” from my text.txt file was displayed in x64dbg" style="width:100.0%" /><figcaption>The text “Love &lt;3” from my <em>text.txt</em> file was displayed in <em>x64dbg</em></figcaption>
</figure>
<p>Still at the same layer, came the central call <code>7FFE83FC4D26</code>. Once stepped over it, the new <code>.fun</code> file from previous steps was written with the actual encrypted content. I stepped into this instruction many times, recursively, and identified several nested steps leading to the writing of the encrypted contents.</p>
<pre><code>| | 7FFE83FC4C98 (one file under encryption) [my entry point]
| | |
| | 7FFE83FC4D14 (get the plaintext content)
| | |
| | 7FFE83FC4D26 (actually encrypt!)
| | |\
| | | 7FFE83FC4DDC (write encrypted content)
| | | |\
| | | | 7FFEE2A3F034 (write encrypted content)
| | | | |\
| | | | | 7FFEE2A074AB (write encrypted content) &lt;- recursive call to its parent
| | | | | |\
| | | | | | ...
| | | | |/
| | |/</code></pre>
<p>I came to it later on, once I had drawn the full structure of the routine to see what I could get more. I browsed it carefully, however, nothing was visible in registries or in the memory I checked. I only found new function calls inside other function calls inside function calls themselves (and so on and so forth).</p>
<p>But, contrary to the previous structure I analysed where it was possible to separate calls according to some “atomic” purposes, all the calls I found here had the same purpose from my perspective: encrypt the data / write it to the new <code>.fun</code> file. Since I already got many things to explain about this ransomware, I decided not to pursue my analysis on this track and to move towards the long writing the current report instead.</p>
<p>I got back to the layer of my entry point and I got two calls at addresses <code>7FFE83FC4D38</code> and <code>7FFE83FC4D66</code> which mixed me up a bit, since they both triggered <code>7FFEE2A3F034</code>, one call of the chained calls in place to write the encrypted content into the new <code>.fun</code> file. These calls had no identified functionalities but I flagged them to highly facilitate the reading. The way breakpoints are triggered, if one tries to follow the graph and, at the same time, experiments live with breakpoints activated on previously displayed addresses, it might be quite hard to understand what was going on for next steps. With these calls flagged, everything became clear again.</p>
<p>Indeed, a <code>ret</code> instruction was then met, which meant that the program escaped the layer of my entry point.</p>
<pre><code>| | 7FFE83FC4D38 (trigger 7FFEE2A3F034 and its descendants)
| | |
| | 7FFE83FC4D66 (trigger 7FFEE2A3F034 and its descendants)
| |/</code></pre>
<p>The next important atomic step in the routine was located at the file offset <code>7FFE83FC4AD6</code>. This call had for effect to delete the original plaintext file. Indeed, until now, both files were accessible, the encrypted one and the original one.</p>
<figure>
<img src="contents/pics/jigsaw/write14-files.png" alt="Both plaintext &amp; encrypted contents were available until this step" style="width:75.0%" /><figcaption>Both plaintext &amp; encrypted contents were available until this step</figcaption>
</figure>
<p>Stepping into this call gave other addresses, all related to deletion. It was not especially my point so I went on my adventure and met few <code>ret</code> which led me two layers under my entry point. The address was <code>7FFE83FC40EF</code> and the code structure definitely reminded me something… I was effectively back into the enumeration loop which let me approach the encryption routine. <a href="#code-files-enumeration">The related lines of code has even already been presented by a screenshot in this section</a>.</p>
<pre><code>| 7FFE83FC4AD6 (legitimate file deleted)
| |\
| | 7FFEE2A2A5A9 (deletion)
| |/
|/
7FFE83FC40EF (back into the first enumeration loop!)</code></pre>
<p>From there, after one loop, I got to the same address with another file name. I then started to document the path I already followed without really realising where I was going. Indeed, I flagged the address <code>7FFE83FC4AAB</code> <a href="#code-AAB">I already depicted in a screenshot in this section as well</a>. The purpose of this call is basically to create a new encrypted file. This is thus coherent that it is on the same layer than the call whose purpose is to delete the original file.</p>
<p>Then, the encryption routine is barely looping but there was still one important remaining thing to do to have an approximately autonomous routine: select the file to encrypt.</p>
<p>In Jigsaw, this mechanism took place in two steps. And I noted the main enumeration loop was in charge of one of these steps. Indeed, the call <code>7FFE83FC4AAB</code> previously mentioned and its descendants were actually triggered only if the extension of the enumerated file matched authorized extensions.</p>
<pre><code>7FFE83FC40EF (back into the first enumeration loop!)
// loop until the file enumerated has an &quot;encryptable&quot; extension, if so -&gt;
|\
| 7FFE83FC4AAB (new encrypted file)
| |\</code></pre>
<p>Into the <code>7FFE83FC4AAB</code> call, two nested calls fulfilled the second step, <code>7FFE83FC4C75</code> and <code>7FFEE2A160CE</code>. They both returned the name of the file to encrypt, or at least the name of the file which was targeted.</p>
<p>An really attentive reader who like file offset may have remarked that <code>7FFEE2A160CE</code> was already met, to provide this time the new name of the file, the one which would contained the encrypted content. Among its descendants calls, there was the call allowing the creation of a <code>.fun</code> file, which obviously here, produced nothing.</p>
<p>Through the call <code>7FFEE2A160CE</code>, for instance setting a main breakpoint here, one may thus get another files enumeration but this time it is a kind of refined one. Indeed, every file listed here had the right extension for an encryption but some of them, like the ones from <code>C:\Windows\System32</code> wouldn’t be encrypted for all of that.</p>
<p>This was the second step in the selection of files which could be encrypted and this should probably be managed by the call <code>7FFE83FC4C75</code> on the second layer.</p>
<pre><code>| 7FFE83FC4AAB (new encrypted file)
| |\
| | 7FFE83FC4C75 (get targeted file name)
| | |\
| | | 7FFEE2A160CE (get old file name)
// &lt;- a refined files enumeration from the main loop
| | | |
| | | 7FFEE2A16106 (silent - no content written, no new .fun file created)
| | | |
// &lt;- break and loop on 7FFE83FC40EF if file not encryptable
| | |/</code></pre>
<p>If the enumerated file matched all the requirements to be encrypted, my entry point was again reached. That was it, the routine perfectly looped and its actions has been described into small chunks with associated addresses.</p>
<p><a href="#calls-stack">In the appendix, the whole graph is displayed in one unique piece.</a> And if one wants to redo it alone following the graph as a guide, it is possible to move directly to these file offset expressions (for example to set breakpoints) using the hot key “CTRL+G” in <em>x64dbg</em> - modulo the Address Space Layout Randomization, which wasn’t disabled beforehand for the analysis.</p>
<p>That was for example what I did to go to <code>7FFE83FC4D26</code> to try to get more about the encryption itself. My last and only advice before using this hot key is to be located in the “Main Thread”, otherwise it might not redirect towards the expected target.</p>
<h2 id="appendix">Appendix</h2>
<h3 id="jigsaw-citation">Jigsaw introduction</h3>
<p>Full credits from the following citation go to <em>Abi Tyas Tunggal</em>, who wrote the complete article for <strong>UpGuard</strong>. It should still be available here<a href="#fn1" class="footnote-ref" id="fnref1"><sup>1</sup></a>.</p>
<blockquote>
<p>Jigsaw is a n encryption ransomware variant created in 2016. It was initially titled ‘BitcoinBlackmailer’ but later came to be known as Jigsaw due to featuring Billy the Puppet from the Saw film franchise.</p>
</blockquote>
<blockquote>
<p>It spread through malicious attachments in spam emails.</p>
</blockquote>
<blockquote>
<p>Once activated Jigsaw encrypts all user files and master boot record (MBR).</p>
</blockquote>
<blockquote>
<p>Following this, a popup featuring Billy the Puppet appears with a ransom demand in the style of Saw’s Jigsaw for Bitcoin in exchange for decrypting files.</p>
</blockquote>
<blockquote>
<p>The victim has one hour to pay or one file will be deleted. Each hour the ransom is not paid the number of files deleted increases exponentially until the computer is wiped after 72 hours.</p>
</blockquote>
<blockquote>
<p>Any attempt to reboot the computer or terminate the process results in 1,000 files being deleted.</p>
</blockquote>
<blockquote>
<p>A newer version also makes threats to dox the victim and expose their personally identifiable information (PII) in a data breach.</p>
</blockquote>
<blockquote>
<p>Jigsaw can be reverse engineered to remove the encryption without paying ransom.</p>
</blockquote>
<h3 id="calls-stack">Reconstructed calls stack</h3>
<p><em>The bellow git-like graph presentation is what I found the more usable for myself.</em> <em>Once this “plan” had been made, I only needed to follow the paths to get an idea of what the algorithm describing the encryption routine was actually doing.</em> <em>In a way, it abstracts the harsh assembly code but let me navigate into it!</em></p>
<pre><code>7FFE83FC40EF (back into the first enumeration loop!)
// loop until the file enumerated has an &quot;encryptable&quot; extension, if so -&gt;
|\
| 7FFE83FC4AAB (new encrypted file)
| |\
| | 7FFE83FC4C75 (get targeted file name)
| | |\
| | | 7FFEE2A160CE (get old file name)
// &lt;- a refined files enumeration from the main loop
| | | |\
| | | | 7FFEE29C5F32 (get old file name)
| | | |/
| | | 7FFEE2A16106 (silent - no content written)
| | | |\
| | | | 7FFEE29E81C5 (silent - no new .fun file created)
| | | |/
// &lt;- break and loop on 7FFE83FC40EF if file not encryptable
| | |/
| | 7FFE83FC4C98 (one file under encryption) [my entry point]
| | |\
| | | 7FFEE2A160CE (get new file name)
| | | |\
| | | | 7FFEE29C5F32 (get new file name)
| | | |/
| | | 7FFEE2A16106 (write the encrypted file)
| | | |\
| | | | 7FFEE29E81C5 (create a new empty .fun file)
| | | |/
| | |/
| | 7FFE83FC4D14 (get the plaintext content)
| | |
| | 7FFE83FC4D26 (actually encrypt!)
| | |\
| | | 7FFE83FC4DDC (write encrypted content)
| | | |\
| | | | 7FFEE2A3F034 (write encrypted content)
| | | | |\
| | | | | 7FFEE2A074AB (write encrypted content)
// &lt;- one recursive call to its parent function 7FFEE2A3F034
| | | | | |\
| | | | | | ...
| | | | | |/
| | | | |/
| | | |/
| | |/
| | 7FFE83FC4D38 (trigger 7FFEE2A3F034 and its descendants)
| | |
| | 7FFE83FC4D66 (trigger 7FFEE2A3F034 and its descendants)
| |/
| 7FFE83FC4AD6 (legitimate file deleted)
| |\
| | 7FFEE2A2A5A9 (deletion)
| | |\
| | | ... (not my point)
| | |/
| |/
|/
7FFE83FC40EF (back into the first enumeration loop!)
|\
| 7FFE83FC4AAB
| |\
| | 7FFE83FC4C75 (get targeted file name)
| | |
| | 7FFE83FC4C98 (one file encryption) [my entry point]
...</code></pre>
<ul>
<li><code>|\</code> means stepping into the above mentioned call function</li>
<li><code>|/</code> means meeting a <code>ret</code> instruction</li>
<li><code>|</code> stands for the layer number inside the routine, the number of steps into from the origin</li>
<li>words inside <code>()</code> are the way I personally chose to qualify these calls, there are no “official names” in the code</li>
</ul>
<!--
### Screenshots of other working ransomware

*Or what it should looked like when the ransomware is not buggy on the machine...*

Maybe for next time... Or perhaps, if you decode and input the following
base64 string somewhere, you might manage to make me change my mind!

ZmxhZydhZGF7SV9oMHAzX3VfbDFrM19aZV9BbmFMeXMxU30K
-->
<section class="footnotes">
<hr />
<ol>
<li id="fn1"><p><a href="https://www.upguard.com/blog/ransomware-examples">https://www.upguard.com/blog/ransomware-examples</a><a href="#fnref1" class="footnote-back">↩</a></p></li>
</ol>
</section>
