<h1 id="jigsaw-part2---detection">Jigsaw <em>(part2 - detection)</em></h1>
<h2 id="introduction">Introduction…</h2>
<h3 id="to-yara">… to YARA</h3>
<p>YARA is another useful tool for malware analysts and researchers.</p>
<p>It stands for <em><strong>Y</strong>et <strong>A</strong>nother <strong>R</strong>ecursive <strong>A</strong>cronym</em>. <!-- **** --> Under this disappointing acronym, there is a powerful tool for, <em>but, according to its own documentation, not limited to</em>, malware detection and classification. It can allow identification of both old and new malware through comparison with sets of textual or binary patterns called “strings”. The tool is really intuitive, highly customizable and truly easy to use and to deploy. Being an open-source solution maintained by the <em>VirusTotal</em> company, it is integrated in many security solutions and used by many security teams across the world.</p>
<p>It runs from command lines, from Linux, Windows and Mac OS X shells, and is also available in many programming languages through various libraries. “YARA tasks” are composed of a program, an interpreter, which performs the scans and of files provided by the user to command those scans. One file is associated with one search and may contain one or several different rules or signatures. The best terminology to use might be “YARA signatures” because it works through the description of unique pieces of code - which is thus a signature, but these signatures are often referred by “YARA rules” as well. Indeed, each description is a set of strings organised by a boolean expression. From a developer perspective, these kinds of logical inferences are thus basically rules.</p>
<p>Some syntax examples will be provided in a dedicated part of the report but each and every useful piece of information on YARA can be found through its GitHub repository<a href="#fn1" class="footnote-ref" id="fnref1"><sup>1</sup></a>. Furthermore, since text files and markdown files are not that much reader friendly, some smoother documentation can be accessed on <em>readthedocs.io</em><a href="#fn2" class="footnote-ref" id="fnref2"><sup>2</sup></a>, sources being the <code>docs/</code> directory of the previously mentioned repository.</p>
<h3 id="to-the-objectives">… to the objectives</h3>
<p>I had a proper Windows 10 Virtual Machine as my faithful laboratory environment for malware analyses, and especially a particular malware inside I wanted to “YARAtize”: the <strong><em>Jigsaw</em></strong> ransomware. Indeed, I already made some interesting discoveries on this malware that I wanted to take advantage of. This work is thus complementary to the previous analysis on Jigsaw I made, so, having an approximative idea of what was done there might be useful to fully understand the current work.</p>
<p>The main goal of the task currently reported was to write some YARA rules around my sample of the Jigsaw ransomware and to play with and discover YARA functionalities.</p>
<p>However, the goal in term of results was best described by the three following crescendo objectives:</p>
<ul>
<li><p>The first objective was basically to identify my malicious Jigsaw program, both as a file on the hard disk drive and as a process in the memory.</p></li>
<li><p>The second objective was to avoid generating false positives, or at least to generate as less as possible of them, without, obviously, any treatment in an individual basis of problematic files of my particular VM. The rules should be exportable to other machines and configurations.</p></li>
<li><p>The third and most difficult objective was, on top of the second objective, to detect not only my original Jigsaw sample but also its siblings, variants or however one may call them. The rules still needed to generate as few false positives as possible in any given configuration. But, if I managed to detect as well Jigsaw variants, it would well underline the potential power of strong YARA rules.</p></li>
</ul>
<p>I had mixed but reasonable results.</p>
<h2 id="preliminary-steps">Preliminary steps</h2>
<h3 id="experimental-environment">Experimental environment</h3>
<p>To try to fulfil all my three objectives, I needed, as for every analysis, to do some adjustments to my laboratory environment. I deleted lots of <em>not that useful</em> snapshots from the previous Jigsaw analysis. I restored a “safe” snapshot from my faithful custom Windows 10 VM. I downloaded and unzipped the latest version of the YARA program, from a sub-directory of its main GitHub repository<a href="#fn3" class="footnote-ref" id="fnref3"><sup>3</sup></a>.</p>
<p>Then I downloaded and unzipped some variants of Jigsaw. I got my original sample from the Zoo, and I found other versions of it through different websites. I didn’t analysed them beforehand, which means I, on purpose, didn’t know whether they would be distant relatives from my original sample or close ones. I found three samples from <em>any.run</em>, each one with a different hash from others, and two samples from two other sources<a href="#fn4" class="footnote-ref" id="fnref4"><sup>4</sup></a> <a href="#fn5" class="footnote-ref" id="fnref5"><sup>5</sup></a>. However, comparing malicious file sizes and later confirming it with my YARA rules, I may have downloaded only three different versions in total, original one included.</p>
<p>To conclude my setup, I made a fresh snapshot with YARA ready to go from a terminal: I only needed to copy the rules I wrote on my host machine into the pre-opened file and execute the pre-written command line in the PowerShell terminal. At last and as often, I isolated my VM from outside, especially from the network I needed for the downloads. Running malware might not be required to start working with YARA but I prefer being cautious, just in case I made a mistake, who knows…</p>
<p>So, thanks to these adjustments and previous customizations from older analyses, my VM then contained a bunch of different files which may be suitable for a high range of false positive generations.</p>
<p>Even though the resources of my VM were relatively small - only ~15GB of disk space used, there were:</p>
<ul>
<li>all Windows files from the regular VM installation.</li>
<li>some random files written by my own.</li>
<li>legitimate software (<em>most for malware analysis but not only</em>).</li>
<li>a collection of unzipped malware of any kind (<em>some I don’t even know yet</em>).</li>
<li>a collection of unzipped ransomware from at least five different ransomware families.</li>
<li>a collection of more than five Jigsaw samples.</li>
</ul>
<p>I thought and hoped there was a good potential for false positives and moved to the next step which was testing YARA.</p>
<h3 id="some-quick-yara-examples">Some quick YARA examples</h3>
<p>All my rules were written into a file I named <code>rule.yara</code> and I located into the root directory of the YARA interpreter. That way all the following PowerShell commands were executed from this root directory in order to reduce sizes of presented paths and thus to increase readability in the report.</p>
<h4 id="example-1">An example</h4>
<pre class="yar"><code>rule example1
{
  condition:
    true
}</code></pre>
<div class="sourceCode" id="cb2"><pre class="sourceCode ps1"><code class="sourceCode powershell"><a class="sourceLine" id="cb2-1" title="1">.\yara64.<span class="fu">exe</span> .\rule.<span class="fu">yara</span> C:\</a></code></pre></div>
<p>The previous couple of YARA rule and command should enumerate all the files at the root of the <code>C:\</code> drive.</p>
<p>A more common way to check the files in this directory with PowerShell is to use the following <code>Get-ChildItem</code> cmdlet.</p>
<div class="sourceCode" id="cb3"><pre class="sourceCode ps1"><code class="sourceCode powershell"><a class="sourceLine" id="cb3-1" title="1"><span class="fu">Get-ChildItem</span> -Hidden -File C:\</a></code></pre></div>
<p>Feel free to use it to compare its results with the results from the YARA rule <code>example1</code>.</p>
<h4 id="another-example">Another example</h4>
<p>One may have already noticed the structure of a YARA rule, beginning with the keyword <code>rule</code> followed by a rule name and encapsulating the actual rule between braces <code>{}</code>. There are in general three parts in a rule, <code>meta</code> for metadata, <code>strings</code> for the patterns to look for and <code>condition</code> for defining the logic of the rule. As displayed by the last example, only using the <code>condition</code> field is possible but provides very limited results. So here is a second example.</p>
<pre class="yar"><code>rule example2
{
  meta:
    author = &quot;Maxime Cesson&quot;
    date = &quot;05/2022&quot;
    reference = &quot;https://github.com/ytisf/theZoo/tree/master \
                /malware/Binaries/Ransomware.Jigsaw&quot;

  strings:
    $hex_exe = { 4D 5A }
    $hex_exe_alt = { 5A 4D }

  condition:
    $hex_exe or $hex_exe_alt
}</code></pre>
<div class="sourceCode" id="cb5"><pre class="sourceCode ps1"><code class="sourceCode powershell"><a class="sourceLine" id="cb5-1" title="1">.\yara64.<span class="fu">exe</span> -r .\rule.<span class="fu">yara</span> C:\Users\IEUser\Downloads\</a></code></pre></div>
<p>This YARA command should return a list lots of Windows executable (<code>.exe</code>, <code>.dll</code> or <code>.sys</code>) of your system. It scans the entire <code>C:\Users\IEUser\Downloads\</code> directory thanks to the <code>-r</code> parameter. However, not only Windows executables should be listed. Indeed, the rule asks to output all the files that contain the string “4D 5A” or “5A 4D”. Executables have these strings at the very beginning of their memory, but other types of files can have one of these strings further in their memory as well.</p>
<p>This example was anyway a first and easy way to show and test the use of strings and boolean expressions (<code>condition</code>). There are many other ways of parsing file data or combining rules, including advanced ones like wildcards or regular expressions that I may have used during the analysis, when needed.</p>
<p>One may note too that rules can be compiled to be executed quicker and that some additional metadata fields or even comments can be added for whatever purpose: describing, explaining, versioning, etc.</p>
<h2 id="detection-on-disk">Detection on disk</h2>
<p>At various occasions during my first tries, I ran rules a first time on disk and then right after on the memory of one or two processes. That was not really optimized, especially considering the fact I got very different results between on disk and on memory detections. And differences occurred for each of the following approaches.</p>
<p>That’s why, for intelligibility reasons, I decided to present in this report the two sides of the same malware detection process in two distinct main sections.</p>
<h3 id="hex-values-approach">Hex values approach</h3>
<p>A first very naive approach was to select a relatively long sequence of Jigsaw bytes. As underlined by <a href="#example-1">my first example few paragraphs above</a>, choosing only two or three bytes might result in getting many false positives. I then decided to choose sixteen of them quite arbitrarily, curious to know if it would be enough and how many objectives this simple protocol would help to fulfil.</p>
<p>To do so, I opened Jigsaw executable through <em>HexEditor</em> and looked for a random location in the memory. I selected all the bytes from the offset <code>00026D70</code> and made a YARA rule of them.</p>
<figure>
<img src="contents/pics/jigsaw2/jigsawRandomBytes.png" alt="Some random bytes of Jigsaw in which I chose a sequence" style="width:95.0%" /><figcaption>Some random bytes of <em>Jigsaw</em> in which I chose a sequence</figcaption>
</figure>
<pre class="yar"><code>rule jigsawDetected
{
  strings:
    $random_hex_jigsaw = { F6 24 AE 0B 8A 1A BE 54 39 1C F5 58 94 B9 05 4E }

  condition:
    $random_hex_jigsaw  
}</code></pre>
<div class="sourceCode" id="cb7"><pre class="sourceCode ps1"><code class="sourceCode powershell"><a class="sourceLine" id="cb7-1" title="1">.\yara64.<span class="fu">exe</span> -r .\rule.<span class="fu">yara</span> C:\Users\IEUser\Documents\Jigsaw\</a></code></pre></div>
<p>With the last command, I quickly checked that the malware was well detected as it should. <em>Indeed, since my machine required few decades of seconds to scan the whole C: drive , I often performed tests in two steps with two commands.</em> Objective 1 was fulfilled anyway.</p>
<p>But then, I was obviously very interested by potentially fulfilling other objectives from my first try! I hence ran the previous YARA command on the path <code>C:\</code>.</p>
<p>However, I had many “<em>error scanning […] : could not open file</em>” when I tried to recursively yaratize the whole <code>C:\</code> drive and even the <code>C:\Users\IEUser\</code> directory. So, in order to make the most of the situation and to increase my PowerShell knowledges, I looked for how to redirect standard error output in this language. I didn’t find proper ways to use the idiomatic cmdlet <code>Out-Null</code> for redirecting errors only but the redirection <code>2&gt; $null</code>, very close to bash scripting for once, worked like a charm.</p>
<p>I thus eventually ran:</p>
<div class="sourceCode" id="cb8"><pre class="sourceCode ps1"><code class="sourceCode powershell"><a class="sourceLine" id="cb8-1" title="1">.\yara64.<span class="fu">exe</span> -r .\rule.<span class="fu">yara</span> C:\ 2&gt; <span class="va">$null</span></a></code></pre></div>
<p>And the enumeration worked very well: from these sixteen bytes, I only got my original Jigsaw file detected on my whole VM. Both objectives 1 and 2 were already fulfilled and I didn’t even need to know what this bytes sequence actually meant!</p>
<p>At last, the results from this detection confirmed for the first time I potentially downloaded three identical versions of Jigsaw among all my supposedly different variants. Those three were always detected together, whatever the approach, whatever the rule content.</p>
<figure>
<img src="contents/pics/jigsaw2/CresultsRandomHex.png" alt="Output from the last hexadecimal YARA scan" style="width:100.0%" /><figcaption>Output from the last hexadecimal YARA scan</figcaption>
</figure>
<p>I had pretty good results with this approach but I got no control on what I was identifying as the signature of Jigsaw. The only parameters I was able to play with were the sequence randomly chosen - I mean the location of it in the file, and its actual length. Improvements to try to meet the last third objective efficiently were thus difficult. I thought then about other approaches with which I would have more control, more granular parameters to adjust.</p>
<h3 id="common-strings-approach">Common strings approach</h3>
<p>One another approach I got interested in was the use of strings - text, letters, words - instead of hexadecimal values. Indeed, these textual strings are not obtained by a compilation process as the hexadecimal ones and depends only on their authors. If they are not decorating the code, they might even be required by the malware to function properly in some means. So, still from a sort of naive point of view, it can look like more unique than every other approaches. (even though, as proven by the previous approach, a long enough random sequence of bytes is actually a very good unique ID of a program.)</p>
<p>Some strings seem common - identifying the verb “be” in all tenses might not be very efficient for example - but with some upstream analyses, some (longer) strings may look quite unique, or at least rare enough to be useful in a fit detection process. And that was a piece of luck but I had just finished an analysis of Jigsaw, and I noticed some unusual strings there.</p>
<p>The first strings I remembered were actually the names by which the malware was named according to itself - “Jigsaw” was the name given afterwards. There were “<strong>BitcoinBlackmailer</strong>”, <strong>“drpbx.exe”</strong> and <strong>“Firefox”</strong> / <strong>“Mozzilla”</strong>. I did three rules to test these strings individually. I only associated strings “drpbx.exe” and “Firefox” together because only “Firefox” might provoke a lot of false positives since it is a renowned legitimate software. However for instance, I took advantage of the rude spelling mistake “Mozzilla” to write a single string rule. I made the postulate that legitimate software shouldn’t contain such a mistake, would it be Firefox itself or serious 3<sup>rd</sup> parties mentioning it.</p>
<p>At last, I did from there a slight global modification of my rules for “on disk” scans. Basically, I rewrote in a better way <a href="#example-1">the first YARA example I gave</a> to detect only executable files since Jigsaw was intrinsically one of them. For that, I used the snippet <code>uint16(0)</code>, directly into the <code>condition</code> part. It fetches as a unsigned integer the first packet (<code>0</code> for computers) of sixteen bits of the file being scanned and then compares it to <code>0x5A4D</code>, the common hexadecimal value for a Windows executable. In addition to help with the unique identification of the malware, I bet providing it as the first condition of the rule may accelerate the YARA enumeration if some lazy evaluation of boolean expressions is logically used. It might be over-engineering anyway because I didn’t find any proof of that, neither experimented some proper time measurement. It was not at all my purpose in this work.</p>
<pre class="yar"><code>rule jigsawStrings1
{
  strings:
    $original_name = &quot;Bitcoinblackmailer&quot; nocase

  condition:
    uint16(0) == 0x5A4D and $original_name
}

rule jigsawStrings2
{
  strings:
    $process_name = &quot;drpbx.exe&quot; wide /* wide required */
    $other_name = &quot;Firefox&quot;

  condition:
    uint16(0) == 0x5A4D
    and $process_name
    and $other_name
}

rule jigsawStrings3
{
  strings:
    $misspelled_name = &quot;Mozzilla&quot;

  condition:
    uint16(0) == 0x5A4D
    and $misspelled_name
}</code></pre>
<p>One may notice the <code>nocase</code> and <code>wide</code> words. They are YARA keywords. They apply on textual strings and are officially called “modifiers”. There exist several of them, other might even be presented elsewhere in this report but these two are respectively making the string case-insensitive and extending the search pattern to strings encoded with two bytes per character. It looked like <code>d.r.p.b.x..e.x.e</code> in my case and is very common in executables. I each time performed tries flavoured by different modifiers and chose to let these modifiers in my snippets only when they were needed or relevant.</p>
<p>Back to the results, scanning recursively my <code>C:\Users\IEUser\</code> directory only - for speed purposes, only the original piece of Jigsaw I had was identified. No other files, no other malware, no other Jigsaw variants. This approach was apparently not strong enough to apprehend the third objective of variants identification.</p>
<p>Then, in relation with this common string approach, I had another weird idea to try: detect Bitcoin-related stuff. It wouldn’t obviously be enough to identify exclusively ransomware but I told myself it might help.</p>
<pre class="yar"><code>rule bitcoinDetected
{
  strings: /*with or without fullword*/
    $bitcoin_name = &quot;Bitcoin&quot; nocase
    $bitcoin_abr = &quot;BTC&quot; nocase wide ascii

  condition:
    uint16(0) == 0x5A4D and
    ($bitcoin_name or $bitcoin_abr)
}</code></pre>
<p>But this was not very efficient, especially with the currency name and abbreviation BTC I couldn’t skip but which is probably way too short to every time refer to the Bitcoin currency and not to something else. Only three bytes are needed to write “BTC” so this is roughly the case of my first YARA example again. Whatever the modifiers used, it triggered many false positives and not especially among the ransomware samples I had - some Jigsaw variants were for instance escaping this “Bitcoin-detection”. It was definitely not a relevant idea!</p>
<p>To conclude this part and to come back quickly on the first three rules used, one may still want to combine them in order to get some “more unique” identifier of the sample. The goal of multiplying strings and developing conditional relations is simply to reduce false positives. For example, with the upcoming rule, I got no false positives on my <code>C:\</code> drive. It may thus help to provide similar results compared to the hexadecimal approach, but from a different mean, which might be useful at one point.</p>
<p>Anyway, a way of combining these unit rules is to use the <code>of</code> keyword to deal with some subsets of strings. Here, if the YARA process finds three of the rules written, it will trigger a detection alert to the user.</p>
<pre class="yar"><code>rule jigsawStrings
{
  strings:
    $original_name = &quot;Bitcoinblackmailer&quot; nocase
    $process_name = &quot;drpbx.exe&quot; wide
    $other_name = &quot;Firefox&quot;
    $misspelled_name = &quot;Mozzilla&quot;

  condition:
    uint16(0) == 0x5A4D and 3 of them
}</code></pre>
<p>This combined rule or any of its variation can thus help to detect the original Jigsaw version but may not work for Jigsaw variants. Indeed, the current method is not very resistant to malware mutation. These names shall be quite easy to change for an attacker and he might even change them before thinking about anti-detection, only to claim its future attacks with some sort of its own version of the malware.</p>
<h3 id="dll-and-api-strings-approach">DLL and API strings approach</h3>
<p>A way to address the previous remark was to tackle to deeper intrinsic characteristics of the malware. Ones which would be difficult to quickly replace. For this purpose, I got back to my previous Jigsaw analysis and dug out some DLL names. I though the DLL in use, especially the ones at the heart of the encryption, partially defined the malware. If one malware developer start using a complete different set of modules, it may still stay malicious the same way but it might be considered as a new malware or at least as a new version of it instead of a simple variant. <em>This is not a statement from professional analysts, but only some personal thoughts, independently from the need to defend my choice of DLL names in this approach.</em></p>
<p>Furthermore, one thing clearly defining Jigsaw was the fact it was written for and actually needed the .NET Framework (&gt; v2 remembering the update I was asked before running it for the first time). And, great, DLL searches can help with that! Two DLL I flagged in the following rule were then DLL related to the .NET Framework that my version of Jigsaw used. These were <code>mscorwks.dll</code> and <code>mscorlib.ni.dll</code>.</p>
<p>I also though API call names were other materials such an approach could be based on. API calls are closely related to DLL since they work together. These are basically the names of the functions queried and not the names of the related modules/libraries anymore. However they are also sticking the code and thus the memory of the program by other sides compared to DLL names. So, I wanted to give them a try as well: it might work better or worse but I would know it only after trying.</p>
<p>Since I didn’t get relevant values yet for these API names, I used few Jigsaw suspicious strings <em>PEStudio</em> suggested to me. Doing so, there would obviously be matches with my original file but my target was the objectives 2 and 3, so never mind.</p>
<pre class="yar"><code>rule jigsawDetected
{
  strings:
    $dll_one = &quot;cryptsp.dll&quot;
    $dll_two = &quot;mscorwks.dll&quot; /* .NET */
    $dll_three = &quot;rsaenh.dll&quot;
    $dll_four = &quot;system.core.ni.dll&quot;
    $dll_five = &quot;cryptbase.dll&quot;
    $dll_six = &quot;mscorlib.ni.dll&quot; /* .NET */

    $api_one = &quot;DecryptFile&quot;
    $api_two = &quot;EncryptFile&quot;
    $api_three = &quot;GetProcessesByName&quot;
    $api_four = &quot;VirtualProtect&quot;
    $api_five = &quot;WinExec&quot;

    $others_one = &quot;SystemFunction036&quot;
    $others_two = &quot;SystemFunction041&quot;
    $others_three = &quot;IsDebuggerPresent&quot;
    $others_four = &quot;IsDeveloperModeEnabled&quot;
    $others_five = &quot;unmanagedDebugger&quot;
    $others_six = &quot;Secure processes must be large address aware&quot;
    $others_seven = &quot;Your software has been registered&quot;

  condition:
    uint16(0) == 0x5A4D
    and 1 of them
}</code></pre>
<p>I didn’t use the previous rule as it is but in order to avoid too many copy and paste, I wrote it in one chunk in this report. What varied in particular was the last condition <code>1 of them</code>, which, as it is, would match way too many files on my VM.</p>
<p>Moreover, the attentive reader has already noticed the additional <code>strings</code> category <code>$others_*</code>. These are simply some strings I accumulated during my main Jigsaw analysis and that I wanted to give a second lease of life to - <em>and this is actually the main justification of their presence</em>. Actually, only <code>$others_seven</code> with the extra keyword <code>wide</code> returned a match. But, finally, I decided not to put this string on show in this part since it was not more intrinsic to the malware than the strings of the previous part. It may require a bit more motivation to the attacker to change it, but it won’t be especially harder. I put it here because I rediscovered it in my main Jigsaw report looking for “deep strings” but it would be more relevant in a general rule of the previous approach.</p>
<p>Logically, the clause <code>all of ($api_*)</code> made the rule detecting my Jigsaw sample and its apparent copies. But quite surprisingly for me, only Jigsaw matched the combination of these five API function names on my whole machine. On the contrary, with the clause <code>3 of ($api_*)</code> for example, results were quite different, even for a small part of my small VM, my testing directory <code>C:\Users\IEUser\</code>. In that case, another ransomware was identified, some <em>Thanos</em> versions, but that’s not all, as one may see on the following screenshot.</p>
<figure>
<img src="contents/pics/jigsaw2/3ofapi_*.png" alt="Some interesting outputs from the clause 3 of ($api_*)" style="width:100.0%" /><figcaption>Some interesting outputs from the clause <code>3 of ($api_*)</code></figcaption>
</figure>
<p>Regarding the identification of the <em>Thanos</em> ransomware, that might not even be a coincidence. Indeed, <a href="https://www.justice.gov/usao-edny/pr/hacker-and-ransomware-designer-charged-use-and-sale-ransomware-and-profit-sharing">its potential author has recently been charged in the US and is related with some versions of <em>Jigsaw</em> as well</a>.</p>
<p>It was unfortunately the best result I got with my <code>$api_*</code> strings. It was not that bad but I got way too many false positives running the scan on the <code>C:\</code> drive. So I didn’t find serious to introduce such a rule in a production environment with regular machines containing much more legitimate software. Furthermore, using <code>4 of ($api_*)</code> only detected my original sample, so there were no improvements compared to <code>all of ($api_*)</code> except that <code>4 of ($api_*)</code> was more subject to false positives in wider environments.</p>
<p>At last, <code>any of ($dll_*)</code> didn’t identify my original sample, even with some extra <code>wide ascii nocase</code> keywords. I was a bit surprised at first, but there were many potential reasons which could have hidden these DLL names. Nevertheless, trying to enlarge to DLL related to the .NET Framework in general, I gave a try to a shorter string, understanding that .NET dedicated DLL always start with <em>mscor</em>.</p>
<pre class="yar"><code>rule dotnetDetected
{
  strings:
    $dll_seven = &quot;mscor&quot; wide ascii nocase /* .NET */

  condition:
    uint16(0) == 0x5A4D
    and any of ($dll_*)
}</code></pre>
<p>It provided amazing results: many different malware samples were identified in my <code>C:\Users\IEUser\Documents\</code> directory, including all my Jigsaw versions. And in the meantime, it did not identify any other legitimate file! Was this rule some kind of panacea for detecting malware?</p>
<figure>
<img src="contents/pics/jigsaw2/mscorString.png" alt="Results searching for the &quot;mscor&quot; string" style="width:100.0%" /><figcaption>Results searching for the <code>"mscor"</code> string</figcaption>
</figure>
<p>Or was the object of this rule (the .NET Framework) especially liked by the malware developers because they need valuable functionalities for the Windows environment? Sadly, I guessed the truth was more around this second point.</p>
<p>It was thus consequently obvious that no one should use alone this string to detect malware, since at least the legitimate <code>"mscor"</code> DLL themselves would be detected (in addition to many others Microsoft and non Microsoft legitimate tools actually).</p>
<p>But I still wanted to investigate a bit more again on these .NET DLL. So, in order to review regular expressions, a nice feature included in YARA, and thus to avoid converting the string to its hexadecimal value for using jumps, I used the following way to precise the rule above.</p>
<pre class="yar"><code>rule dotnetDetected
{
  strings:
    $regex_mscor = /mscor.{,20}\.dll/i wide ascii

  condition:
    uint16(0) == 0x5A4D and $regex_mscor
}</code></pre>
<p>The pattern matched by this regular expression could be described by all the strings beginning with “mscor”, ending with “.dll” and with at most twenty characters in between. Furthermore, using the parameter <code>-s</code> in the YARA command like in the following snippet let me know which <em>mscor[…]</em> DLL were in fact detected.</p>
<div class="sourceCode" id="cb15"><pre class="sourceCode ps1"><code class="sourceCode powershell"><a class="sourceLine" id="cb15-1" title="1">.\yara64.<span class="fu">exe</span> -r -s .\rule.<span class="fu">yara</span> C:\Users\IEUser\Documents\</a></code></pre></div>
<p>And each time it was <code>mscoree.dll</code> only, which is, according to online searches…</p>
<blockquote>
<p>a Microsoft Runtime Execution Engine", in other words it contains the fundamental functions of the Microsoft.NET framework.</p>
</blockquote>
<p>My avenue of identifying the .NET Framework seemed to work pretty well. But, as for API calls, it was still a bit too broad alone to detect variants and only variants. I needed other ideas to detect variants but no other malware or, worse, legitimate files.</p>
<h3 id="final-deliberations">Final deliberations</h3>
<p>The main issue with needing new ideas was… I didn’t have new ones anymore. Or they were too close to ideas I already explored. And since the time always comes into the equation, I guessed disappointing results avoiding losing hours.</p>
<h4 id="some-personal-concerns">Some personal concerns</h4>
<p>I succeeded in the two first objectives by at least two different ways but I was still facing the last one, which was detecting variants with as few false positives as possible. Why was I still not able to locate variants though the different methods which worked on my original file?</p>
<p>I made a statement on one of the potential reasons, and this was for me the most suitable explanation. I though that compared to my main file, other versions might be packed, encoded, encrypted or obfuscated in some ways. Indeed, all my approaches remained vulnerable to these methods. During previous analyses, I sometimes found strings and function names obfuscations which seemed a bit weird and easy to de-obfuscate manually. But, in order to escape such detection mechanisms, it made then a lot of sense.</p>
<p>I based my statement on few facts. Both versions were supposedly more recent than my original one. Then, while one of the other versions I downloaded was about half the size of my original version, the second version was only ~10KB more. However, according to contextual information I got from websites they came from, the second version might yet be the more distant variant of my original file, so potentially the hardest version to link to my original sample. At last, opening both other versions with <em>PEStudio</em> revealed that they both contained way less readable data compared my original version, despite being more elaborated from facts pointed out just before. This meant this was very likely that the other Jigsaw versions I got were (heavily) obfuscated.</p>
<h4 id="some-answers-from-real-life-examples">Some answers from real-life examples</h4>
<p>To get some insights on which approach to prioritize, I checked YARA rules written by professional analysts on various ransomware - there are many places in the Internet where one may find some<a href="#fn6" class="footnote-ref" id="fnref6"><sup>6</sup></a> - and the rules were not especially more complex than the most complete ones I did. It didn’t seem that there were some consensus on how to write rules but rules made from hexadecimal values were often used, as I did during my first attempt. It may confirm the fact that plaintext strings are not that reliable but some analysts definitely seemed to use them a lot. Another interpretation may be that textual strings are suitable for very old malware only, since modern malware don’t have any visible and exploitable strings anymore… Maybe it depends on the analyst, maybe on the targetted malware, I have no clue but that’s alright.</p>
<p>I actually noticed two types of rules:</p>
<ul>
<li><p>specific ones with hexadecimal signatures, which behaviours are close to hashing but in some more unpredictable ways. It becomes thus harder for attacker to anticipate if their variant will be detected or not.</p></li>
<li><p>but also general rules revealing suspicious things such as abnormal timestamps, strings or queries evoking anti-debugging methods, presence of prime numbers for potential cryptographic purposes, etc. The same way my <code>dotnet</code> rule worked, they must generate a lot of false positives. But, with a pre-defined number of matches on these rules, a security system might decide autonomously to isolate or to escalate a potential threat.</p></li>
</ul>
<p><em>And by the way, I noticed the common extension name for YARA rule files was <code>.yar</code>.</em> <em>It was not <code>.yara</code> but I was close.</em></p>
<h4 id="my-final-static-rule">My final “static” rule</h4>
<p>I thus decided to adapt my work and more especially my first approach to common writing conventions of the industry I though having noticed.</p>
<p>To increase the chance of matches and to reduce the potential bias of choosing randomly “a bad string”, either too specific or too generic, I selected four additional hexadecimal strings in my original sample the same way I did for the first string. And, as a condition, I decided only to check these strings, “unique enough” for the identification. I could have decided to use the condition <code>any of them</code> but I preferred to use <code>2 of them</code> to hardly reduce a “bad string” selection by choosing randomly.</p>
<p>It won’t detect the current variant I have, but if some variants will small variations emerged - consequently modifying one or two hexadecimal values checked, it would still be detected and identified by the three remaining hexadecimal values.</p>

<pre class="yar"><code>rule jigsawStatic
{
  meta:
    author = &quot;Maxime Cesson&quot;
    date = &quot;05/2022&quot;
    reference = &quot;https://github.com/ytisf/theZoo/tree/master \
                /malware/Binaries/Ransomware.Jigsaw&quot;
  strings:
    $hex_1 = { F6 24 AE 0B 8A 1A BE 54 39 1C F5 58 94 B9 05 4E }
    $hex_2 = { 4F 8E 79 80 13 77 FA 38 94 0A 7C 81 F4 D2 9F F8 }
    $hex_3 = { 5D 28 07 7A F1 92 6E F7 3D 61 45 B8 84 F2 E7 13 }
    $hex_4 = { 03 F2 84 1E D7 2B 96 22 C5 0A BE 5D 48 56 B9 A4 }
    $hex_5 = { 83 4D 40 BA 72 54 3A ED 03 09 73 DE C1 3C 85 29 }

  condition:
    2 of them
}</code></pre>
<p>Obviously, this rule spotted my Jigsaw original sample and its two copies I found online.</p>
<h2 id="detection-on-memory">Detection on memory</h2>
<p>Well, I more or less managed to satisfy my three objectives with examining files on disk, the goal was then to redo it examining processes on memory.</p>
<p>My state of mind was globally the same reaching this new part. My personal thoughts about rule designs and justifications were exactly the same. And, since I actually tried on memory some of the rules directly after tries on disk, my general working flow, disruptive ideas, transitions from one to another approach were the same too. The only things which deserved this dedicated part were individual conclusions on the outputs I got.</p>
<p>Ultimately, it lead me to write a very different final rule <code>jigsawDynamic</code>, not depending from the same mother approach as my final rule <code>jigsawStatic</code>. But I won’t say more for now and I will dive into the explanations of new challenges faced while scanning processes instead.</p>
<h3 id="new-experimental-method">New experimental method</h3>
<p>There were no differences in the syntax of the YARA rules for checking processes. But since the basic YARA command already presented required a directory to scan, recursively or not, some modifications had to occur there.</p>
<p>The YARA documentation, or more quickly its man page (<code>.\yara64.exe -h</code>), provides the following syntax to apply YARA rules to running processes rather than directories:</p>
<div class="sourceCode" id="cb17"><pre class="sourceCode ps1"><code class="sourceCode powershell"><a class="sourceLine" id="cb17-1" title="1">.\yara64.<span class="fu">exe</span> .\rule.<span class="fu">yara</span> PID_NUMBER</a></code></pre></div>
<p>where <code>PID_NUMBER</code> is the process ID of the process one wants to yaratize.</p>
<p>I made my first tries with the PID of a random process like <em>Process Hacker</em> and with some random rules to check the general behaviour of the functionality. I logically got no match with some rules and matches with others but since it was the practice period, rules stayed very simple, as for my “on disk” examples.</p>
<p>But then, two issues gradually emerged.</p>
<p>The first one was that to test running processes, I needed to literally run my malware samples and to keep them running. It seems trivial but since my Jigsaw sample was buggy and auto-exited between encryption and ransom announcement, I had to do some tricks. Generally speaking, such methodology doesn’t apply only to buggy malware but also on all of them which may interfere with the experiment, de-activating required processes, killing others, etc.</p>
<p>I actually got two different tricks, depending on the criticality of the malware to run.</p>
<ul>
<li><p>option 1 using <em>Process Hacker</em>: execute the malware, find the associated process in <em>Process Hacker</em> and suspend it from there. It will stay as it is in memory and shouldn’t compromise the device or the experiment in the meantime.</p></li>
<li><p>option 2 using <em>x64dbg</em>: if it is too risky to suspend the malware pretty randomly, one may consider loading the malware through <em>x64dbg</em>. Then run some debug step for the malware to initialize itself for its core features (loading external DLL for instance). And then proceed with the scans while, as for the option 1, the malware should stay frozen in memory.</p></li>
</ul>
<p><em>As always while running malware, I recommend double or triple checking VM isolation, even though malware might be quickly suspended.</em></p>
<p>That being said, one may execute and suspend lots of different malware in memory including the original Jigsaw process and all its identified variants, as I did.</p>
<p>Then, I executed heavy processes as well to have a benchmark as reliable as possible. In addition to <em>Process Hacker</em> which might definitely contain some highly suspicious strings regarding what the tool could do, I evaluated browsers and debuggers as my heaviest and potentially most suspicious processes to run. I executed all of the ones I had, that is to say <em>Chrome</em>, <em>Edge</em>, <em>IDA</em> and <em>x64dbg</em>. But there were also already running on memory Windows services plus software needed by my experiment (<em>Notepad</em>, <em>Powershell</em>, <em>File Explorer</em>, …).</p>
<p>With all these processes, I thought I had a rather good bench of processes infusing rather various codes in memory to perform my tests. Indeed, my host machine let me allocate only 4GB of memory to my small laboratory VM, which restrained the potential number of running processes.</p>
<p>What then immediately became the main issue with detection on memory was the checks of the second objective, and, to a lesser extend, the third objective. Indeed, in order to rate as precisely as possible that the YARA rule under experiment was not detecting too many false positives, I needed to perform my detection on as many different processes as possible. I prepared many, I could even have made a snapshot of them, but to apply my YARA rules, for each rule, for each process, I still needed to manually execute one YARA command.</p>
<p>And to do some proper benchmark of my YARA rules, I wanted to test them on many different PIDs and associated processes. And, well, why not on each and every PID of all the processes running on my machine? That way I would check all processes similarly I checked all files with the <code>-r</code> recursive option from my <code>C:\</code> drive. One guessed it, it was time for me to do some PowerShell scripting again. As always with scripting, there were many solutions to get to the same point - here for example with the <code>ForEach</code> cmdlet instead of the <code>ForEach-Object</code> one - and I eventually made and chose the following one-line option.</p>
<div class="sourceCode" id="cb18"><pre class="sourceCode ps1"><code class="sourceCode powershell"><a class="sourceLine" id="cb18-1" title="1"><span class="fu">Get-Process</span> | <span class="fu">ForEach-Object</span> { .\yara64.<span class="fu">exe</span> .\rule.<span class="fu">yara</span> <span class="va">$_</span>.<span class="fu">ID</span> 2&gt; <span class="va">$null</span> }</a></code></pre></div>
<p><code>$_.ID</code> is describing the PIDs of all the running processes. Those are enumerated by the <code>Get-Process</code> cmdlet and transferred to the YARA command through the structure <code>| ForEach-Object { $_.WHATEVER }</code>.</p>
<p>Just before moving on results, I got two last remarks related with the command line just above:</p>
<ul>
<li>The YARA command is now encapsulated into some PowerShell operations. This means this command line won’t work anymore in other shells. Some equivalents have to be written if another environment is used.</li>
<li>The standard error flow redirection <code>2&gt; $null</code> is still mandatory since lots of “error scanning” remain for Windows processes. Typical associated error messages now deal with unauthorized accesses to some processes memory.</li>
</ul>
<h3 id="results-from-on-disk-approaches">Results from “on disk” approaches</h3>
<p>All adaptations to processes made, I executed the upper <em>PowerShell</em> command with versions of the YARA rules I previously written in this report. Then I gathered the outputs and individual conclusions in the following paragraphs.</p>
<p>The first thing I noticed was intrinsic to all my rules but was pretty related with the approach based on hexadecimal values as well. Quite early in my rule writing process, I started using a check on whether the file under analysis was an executable or not. But, with “on memory” scans, I quickly observed this check prevented any trigger. Even the simple following rule didn’t spot my malicious <em>drpbx.exe</em> process, whereas a more complex one (<code>dotnetDetected</code>) spotted it on disk.</p>
<pre class="yar"><code>rule dllDetected
{
  strings:
    $dll = &quot;dll&quot;

  condition:
    uint16(0) == 0x5A4D
    and $dll  
}</code></pre>
<p>However, when I simply removed the condition <code>uint16(0) == 0x5A4D</code>, the malware on memory was in that case detected. <em>At least it was detected that the malware was referring to some DLL.</em> Indeed, the data inside the malware was not at rest anymore, it was loaded from the disk into memory and transformed into something fundamentally different. The malware data didn’t have the same structure and qualifying a process of “executable” would be semantically incorrect.</p>
<p>All this meant that checking first sixteen bits of a process didn’t make any sense, in particular checking if its value was <code>0x5A4D</code>. I thus removed this line of all the rules I copied, pasted and ran.</p>
<p>Furthermore, I also wrote before introducing the rule that it was related with the whole hex values approach. Indeed, any of my rules written from hexadecimal samples I randomly took from the Jigsaw file successfully managed to identify <em>drpbx.exe</em> as Jigsaw. With my final <code>jigsawStatic</code> rule, I needed to cut my hexadecimal strings to three bytes maximum to get results. And I already discussed about the absurdity of three bytes long strings detection, with the search of the string “BTC” for Bitcoin for instance. I had some time thinking about it but as far as I was concerned, I thought the reason of these fails was the transformation from file to process, as for the <code>uint16(0)</code> check.</p>
<p>I had no outstanding results from rules <code>jigsawStrings*</code>. YARA always detected the PID from the original Jigsaw malware but often detected itself through the <em>Notepad</em> in which the rule was written and stored in memory. Occasionally, similar scenarios took place through <em>Process Hacker</em>, <em>x64dbg</em> or even the <em>File Explorer</em> in which other process names or basic information about external processes were stored.</p>
<p>However, results were more interesting for the approach based on DLL and API names. I was quite disappointed this approach didn’t provide satisfying outputs with file scans but thanks to processes there was definitely a rematch.</p>
<p>Among the strings <code>$others_*</code>, I noticed that only the four first ones plus the sixth were enough to trigger too many legitimate processes. Moreover, using the fifth or the seventh string did not identify any process, including the malware. These strings were definitely not relevant.</p>
<p>Nonetheless, <code>all of ($api_*)</code> condition identified precisely the original Jigsaw, the rule itself through the <em>Notepad</em>, <em>PowerShell</em>, one other malware but also Jigsaw variants. And three out of six <code>(dll_*)</code> strings helped to shortlist a decade of suspicious processes, including two other malware in addition to all my Jigsaw flavours.</p>
<h3 id="last-refining-step">Last refining step</h3>
<p>The third approach gave me nice identifications with all my Jigsaw variants which were spotted for the first time. And contrary to file scans where DLL names seemed irrelevant, I had now two variables in my hands to restrict the identification uniquely around Jigsaw and its variants. To actually have two full potential variables, I added few API names to my strings because the combination of all of the old ones was found in several processes, including legitimate ones. And the more strings I had the more precise in my restrictions I could be.</p>
<pre class="yar"><code>rule jigsawDynamic
{
  strings:
    $dll_one = &quot;cryptsp.dll&quot;
    $dll_two = &quot;mscorwks.dll&quot; /* .NET */
    $dll_three = &quot;rsaenh.dll&quot;
    $dll_four = &quot;system.core.ni.dll&quot;
    $dll_five = &quot;cryptbase.dll&quot;
    $dll_six = &quot;mscorlib.ni.dll&quot; /* .NET */

    $api_one = &quot;DecryptFile&quot;
    $api_two = &quot;EncryptFile&quot;
    $api_three = &quot;GetProcessesByName&quot;
    $api_four = &quot;VirtualProtect&quot;
    $api_five = &quot;WinExec&quot;
    $api_six = &quot;ConfusedByAttribute&quot;
    $api_seven = &quot;ProcessedByFody&quot;
    $api_eight = &quot;MemoryStream&quot;

  condition:
    4 of ($dll_*)
    and 4 of ($api_*)
}</code></pre>
<p>This first version of the rule I tried was actually a bit to restrictive since it only detected my original Jigsaw. The goal was thus to play with the numbers of <code>$dll_*</code> and <code>$api_*</code> strings to require. But before sharing the first screenshots of this section and with them the first remarkable results, I need to expose some PID numbers. Indeeed, the returns from my <em>PowerShell</em> command were not that intelligible without contextualisation: it simply printed PIDs of processes which had suspicious memory according to the rule used.</p>
<p>There were a <strong>copy</strong> of my original Jigsaw which had the PID <strong>8212</strong>, a <strong>first variant</strong> the PID <strong>1728</strong>, a <strong>second variant</strong> the PID <strong>5668</strong> and the <strong>loading program</strong> of the original Jigsaw the PID <strong>9084</strong>. By loading program, I mean the program a user may execute and which would load into memory the final buggy malware process. This loading program is the one processing information before the user gets the first message about software registration. This process was not in a working state and had no DLL loaded, I executed it with <em>x64dbg</em> and as one may see, its memory was particularly small. However, since it seemed I wasn’t able to execute my original Jigsaw executable since a process called <em>drpbx.exe</em> was already running, the testing configuration remained like this.</p>
<figure>
<img src="contents/pics/jigsaw2/variantsPIDs.png" alt="Screenshot from the Process Hacker with PIDs previously enumerated" style="width:100.0%" /><figcaption>Screenshot from the <em>Process Hacker</em> with PIDs previously enumerated</figcaption>
</figure>
<p>Last comment on the PIDs of the experiment: <em>PowerShell</em> had the PID <strong>1236</strong> when I did the YARA tests but I closed it by accident before doing the <em>Process Hacker</em> screenshot, so on that particular one, it had the PID <strong>984</strong>.</p>
<p>So, considering the <code>condition</code> of the previous rule written as <code>N of ($dll_*) and M of ($api_*)</code>, the results I got for different values of <code>N</code> and <code>M</code> are displayed in the following table.</p>
<table>
<thead>
<tr class="header">
<th style="text-align: center;">Value of <code>N</code></th>
<th style="text-align: center;">Value of <code>M</code></th>
<th style="text-align: left;">Results</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td style="text-align: center;">2</td>
<td style="text-align: center;">4</td>
<td style="text-align: left;">Too many processes detected (&gt;30)</td>
</tr>
<tr class="even">
<td style="text-align: center;">3</td>
<td style="text-align: center;">4</td>
<td style="text-align: left;">All variants + some false positives like IDA or OneDrive (~10)</td>
</tr>
<tr class="odd">
<td style="text-align: center;">4</td>
<td style="text-align: center;">4</td>
<td style="text-align: left;">Only the copy of Jigsaw</td>
</tr>
<tr class="even">
<td style="text-align: center;">3</td>
<td style="text-align: center;">5</td>
<td style="text-align: left;">Approximately the same ~10 processes as for (3;4)</td>
</tr>
<tr class="odd">
<td style="text-align: center;"><strong>3</strong></td>
<td style="text-align: center;"><strong>6</strong></td>
<td style="text-align: left;">Pretty good: all variants + <em>PowerShell</em> + <em>x64dbg</em></td>
</tr>
<tr class="even">
<td style="text-align: center;">3</td>
<td style="text-align: center;">7</td>
<td style="text-align: left;">Nothing</td>
</tr>
</tbody>
</table>
<figure>
<img src="contents/pics/jigsaw2/3-4-variants.png" alt="With 3 of ($dll_*) and 4 of ($api_*)" style="width:90.0%" /><figcaption>With <code>3 of ($dll_*) and 4 of ($api_*)</code></figcaption>
</figure>
<figure>
<img src="contents/pics/jigsaw2/onlyCopy.png" alt="With 4 of ($dll_*) and 4 of ($api_*)" style="width:90.0%" /><figcaption>With <code>4 of ($dll_*) and 4 of ($api_*)</code></figcaption>
</figure>
<figure>
<img src="contents/pics/jigsaw2/3-6-variants.png" alt="With 3 of ($dll_*) and 6 of ($api_*)" style="width:90.0%" /><figcaption>With <code>3 of ($dll_*) and 6 of ($api_*)</code></figcaption>
</figure>
<p>Reminding the fact that <em>x64dbg</em> contained the code of the loading program, it can be killed or opened again without being attached to a Jigsaw process. Both options made it actually disappeared from the results. The only remaining bothering false positive was thus <em>PowerShell</em>.</p>
<p>But, adding a string <code>$pwsh = "PowerShell" fullword</code> and adding <code>and not $pwsh</code> to the conditions, I managed to exclude <em>PowerShell</em> from the results. I then caught all my Jigsaw variants and only them, my third objective was finally reached!</p>
<figure>
<img src="contents/pics/jigsaw2/pwshExcluded.png" alt="Outputs excluding PowerShell" style="width:95.0%" /><figcaption>Outputs excluding <em>PowerShell</em></figcaption>
</figure>
<p>Excluding strings can be a bit tricky but to perform some case-by-case treatments like mine, it can be very handy. Other use cases from mine can be to separate a legitimate process from a malicious version of it. Initially with three DLL strings and six API strings, I was printed very few false positives. However, with that try, I got all my variants samples - <em>including some released years after my original analysed Jigsaw piece</em> - so for me it was completely worth it to “manually” deal with remaining false positives in order to isolate Jigsaw and its variants. New false positives may occur with other common processes I didn’t have. But, statistically, there shouldn’t be too numerous, so manual adjustments may stay relevant for future false positives as well.</p>
<p>Contrary to “on disk” scans, I thought this approach based on DLL and API had better results because malware on memory couldn’t have as many protective mechanisms against automated scans compared to malware at rest. They had some against manual searches, as revealed during previous analyses, but they can’t manage to hide from automated tools since machines cannot interpret some obfuscated modes.</p>
<h3 id="my-final-dynamic-rule">My final “dynamic” rule</h3>
<pre class="yar"><code>rule jigsawDynamic
{
  meta:
    author = &quot;Maxime Cesson&quot;
    date = &quot;05/2022&quot;
    reference = &quot;https://github.com/ytisf/theZoo/tree/master \
                /malware/Binaries/Ransomware.Jigsaw&quot;

  strings:
    $dll_one = &quot;cryptsp.dll&quot;
    $dll_two = &quot;mscorwks.dll&quot; /* .NET */
    $dll_three = &quot;rsaenh.dll&quot;
    $dll_four = &quot;system.core.ni.dll&quot;
    $dll_five = &quot;cryptbase.dll&quot;
    $dll_six = &quot;mscorlib.ni.dll&quot; /* .NET */

    $api_one = &quot;DecryptFile&quot;
    $api_two = &quot;EncryptFile&quot;
    $api_three = &quot;GetProcessesByName&quot;
    $api_four = &quot;VirtualProtect&quot;
    $api_five = &quot;WinExec&quot;
    $api_six = &quot;ConfusedByAttribute&quot;
    $api_seven = &quot;ProcessedByFody&quot;
    $api_eight = &quot;MemoryStream&quot;

    $pwsh = &quot;PowerShell&quot; fullword

  condition:
    3 of ($dll_*)
    and 6 of ($api_*)
    and not $pwsh
}</code></pre>
<section class="footnotes">
<hr />
<ol>
<li id="fn1"><p><a href="https://github.com/VirusTotal/yara">https://github.com/VirusTotal/yara</a><a href="#fnref1" class="footnote-back">↩</a></p></li>
<li id="fn2"><p><a href="https://yara.readthedocs.io">https://yara.readthedocs.io</a><a href="#fnref2" class="footnote-back">↩</a></p></li>
<li id="fn3"><p><a href="https://github.com/VirusTotal/yara/releases/latest">https://github.com/VirusTotal/yara/releases/latest</a><a href="#fnref3" class="footnote-back">↩</a></p></li>
<li id="fn4"><p><a href="https://www.tutorialjinni.com/">https://www.tutorialjinni.com/</a><a href="#fnref4" class="footnote-back">↩</a></p></li>
<li id="fn5"><p><a href="https://github.com/kh4sh3i/Ransomware-Samples">https://github.com/kh4sh3i/Ransomware-Samples</a><a href="#fnref5" class="footnote-back">↩</a></p></li>
<li id="fn6"><p>Here an example: <a href="https://github.com/advanced-threat-research/Yara-Rules">https://github.com/advanced-threat-research/Yara-Rules</a><a href="#fnref6" class="footnote-back">↩</a></p></li>
</ol>
</section>
